Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

Notes added by 'git notes add'
  8ece518e62e525cae6098cade711c9884deeb7fb
Due: none

feat: 🎸 reini room screen
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/index.tsx
Due: ui

feat: 🎸 ini mui anchor for space room card
  packages/ui/src/components/MuiAnchor/MuiAnchor.tsx
  packages/ui/src/components/MuiAnchor/index.ts
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/MuiAnchor/index.ts
Due: ui

feat: 🎸 refactor admin permissions for space settings
  packages/@types/src/models/Member.ts
  packages/common/src/firebase/members.ts
  packages/ui/src/components/InviteFormUsername/InviteFormUsername.tsx
  packages/ui/src/components/SpaceFormId/SpaceFormId.tsx
  packages/ui/src/components/SpaceFormName/SpaceFormName.tsx
  packages/ui/src/components/SpaceFormSettings/SpaceFormSettings.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
Due: ui

perf: ⚡️ refactor id to namespace username
  packages/ui/src/components/SpaceLeaderboardTable/SpaceLeaderboardTable.tsx
  packages/ui/src/components/SpaceMemberTable/SpaceMemberTable.tsx
Due: ui

feat: 🎸 complete ini space billing board
  locales/en/common.json
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceBillingBoard/SpaceBillingBoard.tsx
  packages/ui/src/components/SpaceBillingBoard/index.ts
  packages/ui/src/components/SpaceBillingButton/SpaceBillingButton.tsx
  packages/ui/src/components/SpaceBillingButton/index.ts
  packages/ui/src/components/SpaceFormQuit/SpaceFormQuit.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/web/i18n.json
Due: ui

perf: ⚡️ refactor i18n space & common
  locales/ja/common.json
  locales/ja/space.json
  locales/zh/common.json
  locales/zh/space.json
Due: none

perf: ⚡️ ini disabled space form general
  packages/ui/src/components/SpaceFormId/SpaceFormId.tsx
  packages/ui/src/components/SpaceFormName/SpaceFormName.tsx
Due: ui

perf: ⚡️ ini router back room submitt
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
Due: ui

perf: ⚡️ leaderboard ascending order
  packages/common/src/firebase/leaderboard.ts
Due: none

perf: ⚡️ leaderboard order by score desc only
  packages/common/src/firebase/leaderboard.ts
Due: none

chore: 🤖 re ini cancel button space form
  packages/ui/src/components/SpaceFormId/SpaceFormId.tsx
  packages/ui/src/components/SpaceFormName/SpaceFormName.tsx
Due: ui

feat: 🎸 ini get member for space setting
  packages/ui/src/components/QuitForm/QuitForm.tsx
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceFormQuit/SpaceFormQuit.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
Due: ui

chore: 🤖 update
  packages/common/src/firebaseAdmin/leaderboard.ts
Due: none

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  9edbefa9e7500cb051f6f6296d6e5168f1fd3ac2
Due: none

feat: 🎸 ini room screen
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
Due: ui

feat: 🎸 ini room screen
  packages/@types/src/models/AppTab.ts
  packages/@types/src/models/SettingsTab.ts
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppTabRoom/AppTabRoom.tsx
  packages/ui/src/components/AppTabRoom/AppTabRoomStyles.ts
  packages/ui/src/components/AppTabRoom/index.ts
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/ui/src/components/GridSettingsRoomButton/GridSettingsRoomButton.tsx
  packages/ui/src/components/GridSettingsRoomButton/GridSettingsRoomButtonStyles.ts
  packages/ui/src/components/GridSettingsRoomButton/index.ts
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/RoomEdit/index.ts
  packages/ui/src/components/RoomFormDelete/RoomFormDelete.tsx
  packages/ui/src/components/RoomFormQuit/RoomFormQuit.tsx
  packages/ui/src/components/RoomFormSettings/RoomFormSettings.tsx
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/web/i18n.json
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

feat: 🎸 refactor profile screen
  packages/ui/src/components/ProfileEdit/index.ts
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/ProfileScreen/index.ts
  packages/web/pages_/profile.tsx
Due: ui

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  921015982eab24b74babaffc3bc58229e6caec82
Due: none

feat: 🎸 form board refactor
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomCreateBoard/RoomCreateBoard.tsx
  packages/ui/src/components/RoomCreateBoard/index.ts
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomDeleteForm/index.ts
  packages/ui/src/components/RoomFormDelete/RoomFormDelete.tsx
  packages/ui/src/components/RoomFormDelete/index.ts
  packages/ui/src/components/RoomFormQuit/index.ts
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuitBoard/RoomQuitBoard.tsx
  packages/ui/src/components/RoomQuitBoard/index.ts
  packages/ui/src/components/RoomStepperCreate/index.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceCreateBoard/SpaceStepperCreate.tsx
  packages/ui/src/components/SpaceCreateBoard/index.ts
  packages/ui/src/components/SpaceDelete/SpaceDelete.tsx
  packages/ui/src/components/SpaceDelete/index.ts
  packages/ui/src/components/SpaceFormQuit/index.ts
  packages/ui/src/components/SpaceFormSettings/index.ts
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceInviteBoard/SpaceInviteBoard.tsx
  packages/ui/src/components/SpaceInviteBoard/index.ts
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceQuitBoard/SpaceQuitBoard.tsx
  packages/ui/src/components/SpaceQuitBoard/index.ts
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettingsBoard/SpaceSettingsBoard.tsx
  packages/ui/src/components/SpaceSettingsBoard/index.ts
Due: ui

perf: ⚡️ ini room settings board
  packages/ui/src/components/RoomFormSettings/index.ts
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
  packages/ui/src/components/RoomSettingsBoard/index.ts
Due: ui

feat: 🎸 ini space list
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
Due: none

feat: 🎸 ini disabled for room settings
  packages/ui/src/components/RoomFormDescription/RoomFormDescription.tsx
  packages/ui/src/components/RoomFormName/RoomNameForm.tsx
  packages/ui/src/components/RoomQuitBoard/RoomQuitBoard.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
  packages/ui/src/components/SpaceSettingsBoard/SpaceSettingsBoard.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
Due: ui

feat: 🎸 ini room form role validation
  packages/ui/src/components/DeleteForm/DeleteForm.tsx
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomDeleteBoard/RoomDeleteBoard.tsx
  packages/ui/src/components/RoomDeleteBoard/index.ts
  packages/ui/src/components/RoomDeleteForm/index.ts
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuitBoard/RoomQuitBoard.tsx
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceFormDelete/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
Due: ui

perf: ⚡️ ini room skeleton grid form
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
Due: ui

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ae3c95baa8e2fe3683afa3292ef4cc16f9512d47
Due: none

feat: 🎸 refactor room form settings
  locales/en/common.json
  packages/ui/package.json
  packages/ui/src/components/RoomFormDescription/RoomFormDescription.tsx
  packages/ui/src/components/RoomFormDescription/index.ts
  packages/ui/src/components/RoomFormName/RoomFormName.tsx
  packages/ui/src/components/RoomFormName/index.ts
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
  yarn.lock
Due: ui

feat: 🎸 form ui components rename
  packages/ui/src/components/DeleteForm/index.ts
  packages/ui/src/components/FormDelete/FormDelete.tsx
  packages/ui/src/components/FormDelete/index.ts
  packages/ui/src/components/FormQuit/FormQuit.tsx
  packages/ui/src/components/FormQuit/index.ts
  packages/ui/src/components/QuitForm/index.ts
  packages/ui/src/components/RoomDeleteBoard/RoomDeleteBoard.tsx
  packages/ui/src/components/RoomQuitBoard/RoomQuitBoard.tsx
  packages/ui/src/components/SpaceFormDelete/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceQuitBoard/SpaceQuitBoard.tsx
Due: ui

feat: 🎸 ini landing spacing
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingSpacing/LandingSpacing.tsx
  packages/ui/src/components/LandingSpacing/index.ts
  packages/ui/src/components/Spacing/index.ts
Due: ui

feat: 🎸 ini header logo
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/HeaderLogo/HeaderLogo.tsx
  packages/ui/src/components/HeaderLogo/HeaderLogoStyles.ts
  packages/ui/src/components/HeaderLogo/index.ts
  packages/ui/src/components/Logo/index.ts
Due: ui

feat: 🎸 remove unused divider particle protip
  packages/ui/src/components/Divider/Divider.tsx
  packages/ui/src/components/Divider/DividerStyles.ts
  packages/ui/src/components/Divider/index.ts
  packages/ui/src/components/Particle/Particle.spec.tsx
  packages/ui/src/components/Particle/Particle.stories.tsx
  packages/ui/src/components/Particle/Particle.tsx
  packages/ui/src/components/Particle/index.ts
  packages/ui/src/components/ProTip/ProTip.spec.tsx
  packages/ui/src/components/ProTip/ProTip.stories.tsx
  packages/ui/src/components/ProTip/ProTip.tsx
  packages/ui/src/components/ProTip/ProTipStyles.ts
  packages/ui/src/components/ProTip/index.ts
Due: ui

feat: 🎸 ini room form picture
  packages/ui/src/components/RoomFormPicture/RoomFormPicture.tsx
  packages/ui/src/components/RoomFormPicture/index.ts
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
Due: ui

feat: 🎸 refactor hash for room form picture
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCard/RoomCardStyles.ts
  packages/ui/src/components/RoomFormPicture/RoomFormPicture.tsx
Due: ui

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  4de4e98cd03108c156ffc9dfe6f33812cff39efa
Due: none

feat: 🎸 ini form photo
  locales/en/common.json
  packages/ui/package.json
  packages/ui/src/components/FormPhoto/FormPhoto.tsx
  packages/ui/src/components/FormPhoto/FormPhotoStyles.ts
  packages/ui/src/components/FormPhoto/index.ts
  packages/ui/src/components/ProfileFormPhoto/ProfileFormPhoto.tsx
  packages/ui/src/components/ProfileFormPhoto/index.ts
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/SpaceFormDelete/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceFormPhoto/SpaceFormPhoto.tsx
  packages/ui/src/components/SpaceFormPhoto/index.ts
  packages/ui/src/components/SpaceSettingsBoard/SpaceSettingsBoard.tsx
  yarn.lock
Due: ui

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
