Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

perf: ⚡️ refactor naming form delete
  packages/ui/src/components/SpaceFormDelete/SpaceFormDelete.tsx
  packages/ui/src/components/SpaceFormDelete/index.ts
Due: ui

feat: 🎸 refactor room styles
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCard/RoomCardStyles.ts
  packages/ui/src/components/SpaceRoomList/SpaceRoomList.tsx
Due: ui

feat: 🎸 refactor correct space invite card
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceInviteBoard/SpaceInviteBoard.tsx
Due: ui

perf: ⚡️ ini redirect for space signup
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
Due: none

perf: ⚡️ type rect for space form photo
  packages/ui/src/components/SpaceFormPhoto/SpaceFormPhoto.tsx
Due: ui

feat: 🎸 ini invite signup board
  locales/en/common.json
  packages/ui/src/components/InviteFormSignup/index.ts
  packages/ui/src/components/InviteSignup/InviteSignup.tsx
  packages/ui/src/components/InviteSignupBoard/InviteSignupBoard.tsx
  packages/ui/src/components/InviteSignupBoard/InviteSignupBoardStyles.ts
  packages/ui/src/components/InviteSignupBoard/index.ts
  packages/web/i18n.json
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
Due: ui

perf: ⚡️ ini i18n common
  locales/ja/common.json
  locales/zh/common.json
Due: none

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  1d8a25a0d402c96a4987dbb6224303c9d394807d
Due: none

feat: 🎸 refactor stripe model
  packages/@types/package.json
  packages/@types/src/models/Stripe.ts
Due: none

chore(release): 1.35.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  0673a770f8e8f05505f2533875da1ca994f407f4
Due: none

feat: 🎸 ini sentry refactor
  packages/common/package.json
  packages/ui/package.json
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/video/package.json
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: ui

chore: 🤖 update
  yarn.lock
Due: none

chore: 🤖 update
  packages/common/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

feat: 🎸 ini papercups window
  packages/ui/package.json
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/PaperCups/index.ts
  packages/ui/src/components/PaperCupsWidget/PaperCupsWidget.tsx
  packages/ui/src/components/PaperCupsWidget/index.ts
  packages/ui/src/components/PaperCupsWindow/PaperCupsWindow.tsx
  packages/ui/src/components/PaperCupsWindow/index.ts
  packages/ui/src/components/SupportScreen/SupportScreen.tsx
  packages/ui/src/components/SupportScreen/SupportScreenStyles.ts
  yarn.lock
Due: ui

chore: 🤖 update
  packages/web/next.config.js
Due: none

chore(release): 1.35.0-beta.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  9f980c29afe5ba6ce4461dba41777829fcf5df47
Due: none

feat: 🎸 refactor sentrei support
  locales/en/footer.json
  locales/en/papercups.json
  packages/ui/src/components/FooterSection/FooterSection.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/PaperCupsWindow/PaperCupsWindow.tsx
  packages/web/pages_/support.tsx
  packages/web/src/components/SentreiHeader.tsx
Due: ui, web

chore(release): 1.35.0-beta.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  329dd7339f6a2d00ca885a376e853e1dcdfe7771
Due: none

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  93167710c0b184fa24da69dabec7241e4c2a46e3
Due: none

perf: ⚡️ ini i18n papercups
  locales/ja/footer.json
  locales/ja/papercups.json
  locales/zh/footer.json
  locales/zh/papercups.json
Due: none

feat: 🎸 ini segment analytics
  packages/common/package.json
  packages/common/src/dec.d.ts
  packages/common/src/utils/segment.ts
  packages/web/package.json
  packages/web/pages_/_document.tsx
  yarn.lock
Due: none

chore: 🤖 updae
  packages/common/src/utils/segment.ts
Due: none

chore: 🤖 update
  packages/common/src/utils/segment.ts
Due: none

feat: 🎸 ini consent segment
  packages/common/src/utils/segment.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Metomic/Metomic.tsx
  packages/ui/src/components/Segment/Segment.tsx
  packages/ui/src/components/Segment/index.ts
  packages/web/pages_/_document.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/Segment/Segment.tsx
Due: ui

perf: ⚡️ ini pageView segment
  packages/common/src/utils/segment.ts
  packages/ui/src/components/Authentication/Authentication.tsx
Due: ui

feat: 🎸 ini identify user
  packages/common/src/utils/segment.ts
  packages/ui/src/components/Authentication/Authentication.tsx
Due: ui

feat: 🎸 ini segment component
  packages/ui/src/components/Segment/Segment.tsx
Due: ui

feat: 🎸 ini segment component v2
  packages/common/src/utils/segment.ts
  packages/ui/src/components/Segment/Segment.tsx
Due: ui

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  919eb8e5622a0f1958fa753a65f3579657c07a65
Due: none

feat: 🎸 ini segment methods
  packages/common/src/utils/segment.ts
Due: none

perf: ⚡️ ini track event error function
  packages/ui/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: ui

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
