Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

Notes added by 'git notes add'
  0ebbf0ba4d8e048cfdcbd2e231afbb65377608ca
Due: none

chore(release): 1.1.8 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  56ce74360f38ce0ba8954627a7dca4477fb2f20e
Due: none

Update README.md
  README.md
Due: none

chore: 🤖 update
  packages/pioneer/src/sus/2020/12.md
Due: none

chore(release): 1.1.9 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  c408698e13c78d61d342e79594bbb2bf52d50a7e
Due: none

chore(release): 1.1.10 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  6d4ec370f2906d8c1717a895a0029143c72f252f
Due: none

feat: 🎸 ini app bar + app tab
  packages/@types/src/models/AppTab.ts
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
  packages/ui/src/components/AppBar/index.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

feat: 🎸 ini app bar layout w/ flex
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
Due: ui

chore: 🤖 update
  locales/en/common.json
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/AppTab/AppTab.tsx
Due: ui

chore: 🤖 update
  packages/pioneer/src/frontier/2020/15.md
Due: none

feat: 🎸 ini mui button and mui button base
  packages/ui/src/components/AboutMessage/AboutMessage.tsx
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/FooterCredits/FooterCredits.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.tsx
  packages/ui/src/components/LandingBanner/LandingBanner.tsx
  packages/ui/src/components/LandingPricingCard/LandingPricingCard.tsx
  packages/ui/src/components/Logo/Logo.tsx
  packages/ui/src/components/MuiButton/MuiButton.tsx
  packages/ui/src/components/MuiButton/index.ts
  packages/ui/src/components/MuiButtonBase/MuiButtonBase.tsx
  packages/ui/src/components/MuiButtonBase/index.ts
  packages/ui/src/components/PricingCard/PricingCard.tsx
Due: ui

perf: ⚡️ migrate to app profile menu
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppProfileMenu/AppProfileMenu.tsx
  packages/ui/src/components/AppProfileMenu/index.ts
Due: ui

feat: 🎸 ini app profile menu
  packages/ui/src/components/AppProfileMenu/AppProfileMenu.tsx
  packages/ui/src/components/MuiMenuItem/MuiMenuItem.tsx
  packages/ui/src/components/MuiMenuItem/index.ts
Due: ui

feat: 🎸 ini space tab
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/MuiTab/MuiTab.tsx
  packages/ui/src/components/MuiTab/index.ts
Due: ui

feat: 🎸 ini icons for app tab
  packages/ui/src/components/AppProfileMenu/AppProfileMenu.tsx
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/AppTab/AppTabStyles.ts
Due: ui

feat: 🎸 ini mui menu item link
  packages/ui/src/components/MuiMenuItem/MuiMenuItem.tsx
Due: ui

perf: ⚡️ migrate to mui menu item for room menu
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/ui/src/components/ProfileMenu/index.ts
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Due: ui

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  dbe446a299d2e01d4d2f87de049f26855c83831f
Due: none

fix: 🐛 footer mui link
  packages/ui/src/components/FooterCopyright/FooterCopyright.tsx
Due: ui

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  f202c14c284dda84841bc172ddd7a7dceff6c211
Due: none

perf: ⚡️ target blank footer section
  packages/ui/src/components/FooterSection/FooterSection.tsx
Due: ui

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  4c6a2abf816a8340a28a12832ff5982f58fa020d
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  89182f2455c9fdbc92172c7b8332d9a0644e014e
Due: none

chore: 🤖 labels
  .github/labels.yml
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  bb6fe83ad60b83da33be3c798745ad2a27af3d45
Due: none

feat: 🎸 ini app list menu
  assets/images/logo-round.png
  locales/en/common.json
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppListMenu/AppListMenu.tsx
  packages/ui/src/components/AppListMenu/index.ts
  packages/ui/src/components/ListMenu/index.ts
  packages/web/src/components/SentreiAppHeader.tsx
  packages/web/src/images/png/LogoRoundPicture.tsx
Due: ui, web

perf: ⚡️ userId breadcrumb base
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
