Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 refactor app tab icon style bug
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
Due: ui

perf: ⚡️ refactor nodemon invoke
  packages/web/nodemon.json
Due: none

feat: 🎸 refactor app tab header naming
  packages/@types/src/models/AppTab.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppSpaceTab/index.ts
  packages/ui/src/components/AppTabSpace/AppTabSpace.tsx
  packages/ui/src/components/AppTabSpace/AppTabSpaceStyles.ts
  packages/ui/src/components/AppTabSpace/index.ts
  packages/ui/src/components/AppTabUser/AppTabUser.tsx
  packages/ui/src/components/AppTabUser/AppTabUserStyles.ts
  packages/ui/src/components/AppTabUser/index.ts
  packages/ui/src/components/AppUserTab/index.ts
Due: ui

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  76e1fc4ab5b4b32be59d93339e202f21d798f9b3
Due: none

feat: 🎸 complete refactor live space dashboard
  packages/common/src/firebase/spaces.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceDashboardList/SpaceDashboardList.tsx
  packages/ui/src/components/SpaceDashboardList/index.ts
  packages/ui/src/components/SpaceList/index.ts
  packages/ui/src/components/SpaceLoadMore/SpaceLoadMore.tsx
  packages/ui/src/components/SpaceLoadMore/index.ts
  packages/web/pages_/dashboard.tsx
Due: ui

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  343701aa495cfe79b05ed2aa79fe3b609b58f75a
Due: none

fix: 🐛 settings flash bug
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
Due: ui

feat: 🎸 correct redirect for user namespace
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
Due: none

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  96f4094bc3682b1e1fa7e3746c67d7fba7387a80
Due: none

feat: 🎸 refactor app header status space
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/dashboard.tsx
Due: ui

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  40b91332df5cd77ed69630a5f01f579d4da1729e
Due: none

feat: 🎸 ini namespace valid check function
  packages/common/src/const/index.ts
  packages/common/src/const/reservedNamespaces.ts
  packages/common/src/firebase/namespaces.ts
  packages/ui/package.json
  packages/ui/src/components/InviteUserForm/InviteUserForm.tsx
  packages/ui/src/components/ProfileNamespaceForm/ProfileNamespaceForm.tsx
  packages/ui/src/components/SpaceStepperId/SpaceStepperId.tsx
  yarn.lock
Due: ui

feat: 🎸 migrate namespace to username for profile form
  locales/en/common.json
  locales/en/form.json
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileNamespaceForm/index.ts
  packages/ui/src/components/ProfileUsernameForm/ProfileUsernameForm.tsx
  packages/ui/src/components/ProfileUsernameForm/index.ts
Due: ui

perf: ⚡️ ini i18n common & form
  locales/ja/common.json
  locales/ja/form.json
  locales/zh/common.json
  locales/zh/form.json
Due: none

perf: ⚡️ full width grid settings space button
  packages/ui/src/components/GridSettingsSpaceButton/GridSettingsSpaceButtonStyles.ts
Due: ui

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ac542eb9b4ab4a9bfd6837af669971d273436a16
Due: none

feat: 🎸 migrate web components
  packages/common/src/serializers/Room.ts
  packages/ui/src/components/LandingDemo/LandingDemo.tsx
  packages/ui/src/components/LandingDemo/index.ts
  packages/ui/src/components/LandingFeature/LandingFeature.tsx
  packages/ui/src/components/LandingFeature/index.ts
  packages/ui/src/components/LandingProduct/index.ts
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingTestimonial/LandingTestimonial.tsx
  packages/ui/src/components/LandingTestimonial/index.ts
  packages/web/pages_/index.tsx
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiScreen.tsx
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/components/SentreiVideoApp.tsx
Due: ui, web

perf: ⚡️ remove sentrei one tap
  packages/web/pages_/index.tsx
  packages/web/pages_/login.tsx
  packages/web/pages_/signup.tsx
  packages/web/src/components/SentreiOneTap.tsx
Due: web

feat: 🎸 complete migrate web components
  packages/ui/src/components/PrivacyScreen/PrivacyScreen.tsx
  packages/ui/src/components/PrivacyScreen/index.ts
  packages/ui/src/components/TermsScreen/TermsScreen.tsx
  packages/ui/src/components/TermsScreen/index.ts
  packages/web/pages_/privacy.tsx
  packages/web/pages_/terms.tsx
Due: ui

feat: 🎸 upgrade next optimized images plugin
  packages/ui/src/components/PicturePng/PicturePng.tsx
  packages/web/babel.config.js
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/images/png/KeioPicture.tsx
  packages/web/src/images/png/LogoPicture.tsx
  packages/web/src/images/png/LogoRoundPicture.tsx
  packages/web/src/images/png/UclPicture.tsx
  yarn.lock
Due: ui, web

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  06a7ca7b7e500eef977d1f3fce73d034d49b8bce
Due: none

feat: 🎸 upgrade svg components
  packages/ui/src/components/PicturePng/PicturePng.tsx
  packages/ui/src/components/PicturePng/index.ts
  packages/ui/src/components/PictureSvg/PictureSvg.tsx
  packages/ui/src/components/PictureSvg/index.ts
  packages/web/src/images/svg/ConnectPicture.tsx
  packages/web/src/images/svg/DataPicture.tsx
  packages/web/src/images/svg/FocusPicture.tsx
  packages/web/src/images/svg/GoalPicture.tsx
  packages/web/src/images/svg/TimePicture.tsx
  packages/web/src/images/svg/VideoPicture.tsx
Due: ui, web

feat: 🎸 ini next-optimized-images global scss class
  packages/web/src/images/png/LogoPicture.tsx
  packages/web/src/images/png/LogoRoundPicture.tsx
  packages/web/src/images/svg/ConnectPicture.tsx
  packages/web/src/images/svg/DataPicture.tsx
  packages/web/src/images/svg/FocusPicture.tsx
  packages/web/src/images/svg/GoalPicture.tsx
  packages/web/src/images/svg/TimePicture.tsx
  packages/web/src/images/svg/VideoPicture.tsx
  packages/web/src/styles/global.scss
Due: web

perf: ⚡️ ini google fonts
  packages/web/package.json
  packages/web/pages_/_document.tsx
  yarn.lock
Due: none

feat: 🎸 ini next seo default integration
  packages/ui/package.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/SeoDefault/SeoDefault.tsx
  packages/ui/src/components/SeoDefault/index.ts
  packages/web/package.json
  packages/web/pages_/_document.tsx
  packages/web/pages_/index.tsx
  packages/web/src/components/SentreiMeta.tsx
  yarn.lock
Due: ui, web

chore: 🤖 update
  packages/ui/src/components/SeoDefault/SeoDefault.tsx
Due: ui

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  be8d0e6d1ca9110d99f782ea36e839016a032c0b
Due: none

perf: ⚡️ refactor mui button
  packages/ui/src/components/RoomNone/RoomNone.tsx
  packages/ui/src/components/SpaceNone/SpaceNone.tsx
Due: ui

chore: 🤖 update id form
  locales/en/form.json
  locales/ja/form.json
  locales/zh/form.json
  packages/ui/src/components/SpaceStepperId/SpaceStepperId.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/RoomNone/RoomNone.tsx
Due: ui

perf: ⚡️ refactor invite namespace to username
  packages/ui/src/components/InviteUserForm/index.ts
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/InviteUsernameForm/index.ts
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
Due: ui

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none
