Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 completely refactor app tab profile
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/index.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/rooms/create.tsx
  packages/web/pages_/[spaceId]/rooms/index.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/[spaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
Due: none

perf: ⚡️ refactor space tabs
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/rooms/create.tsx
  packages/web/pages_/[spaceId]/rooms/index.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
Due: none

perf: ⚡️ refactor dashbaord to home key
  packages/@types/src/models/AppTab.ts
  packages/ui/src/components/AppSpaceTab/AppSpaceTab.tsx
  packages/web/pages_/[spaceId]/index.tsx
Due: ui

feat: 🎸 refactor user router push position
  packages/@types/src/models/AppTab.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/index.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/rooms/create.tsx
  packages/web/pages_/[spaceId]/rooms/index.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/[spaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/index.tsx
  packages/web/pages_/login.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
  packages/web/pages_/signup.tsx
  packages/web/pages_/support.tsx
Due: none

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  357678b082a207c3e87325f23e5f78a1ae5b2fa5
Due: none

feat: 🎸 ini grid settings
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/ui/src/components/GridSettings/index.ts
  packages/ui/src/components/SkeletonForm/SkeletonForm.tsx
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceSettingsButton/SpaceSettingsButton.tsx
  packages/ui/src/components/SpaceSettingsButton/index.ts
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
Due: ui

chore: 🤖 update
  .vscode/settings.json
Due: none

feat: 🎸 ini app tab icon component
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppSpaceTab/AppSpaceTab.tsx
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/AppTabIcon/AppTabIconStyles.ts
  packages/ui/src/components/AppTabIcon/index.ts
Due: ui

perf: ⚡️ refactor react warning complaints
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/SkeletonBoard/SkeletonBoard.tsx
  packages/ui/src/components/SkeletonList/SkeletonList.tsx
Due: ui

feat: 🎸 ini app user tab component
  packages/@types/src/models/AppTab.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/AppUserTab/AppUserTab.tsx
  packages/ui/src/components/AppUserTab/AppUserTabStyles.ts
  packages/ui/src/components/AppUserTab/index.ts
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

chore: 🤖 update
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
Due: ui

feat: 🎸 ini grid settings component group
  locales/en/common.json
  packages/@types/src/models/SettingsTab.ts
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/ui/src/components/GridSettingsSpaceTab/GridSettingsSpaceTab.tsx
  packages/ui/src/components/GridSettingsSpaceTab/GridSettingsSpaceTabStyles.ts
  packages/ui/src/components/GridSettingsSpaceTab/index.ts
  packages/ui/src/components/GridSettingsTab/GridSettingsTab.tsx
  packages/ui/src/components/GridSettingsTab/GridSettingsTabStyles.ts
  packages/ui/src/components/GridSettingsTab/index.ts
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettingsButton/SpaceSettingsButton.tsx
  packages/ui/src/components/SpaceSettingsButton/index.ts
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
Due: ui

feat: 🎸 refactor ui components
  packages/ui/src/components/LandingFaq/LandingFaq.tsx
  packages/ui/src/components/LandingFeature/LandingFeature.tsx
  packages/ui/src/components/LandingPricing/LandingPricing.tsx
  packages/ui/src/components/LandingSection/LandingSection.tsx
  packages/ui/src/components/LandingSection/LandingSectionStyles.ts
  packages/ui/src/components/LandingSection/index.ts
  packages/ui/src/components/LandingTestimonial/LandingTestimonial.tsx
  packages/ui/src/components/Profile/Profile.tsx
  packages/ui/src/components/Profile/ProfileStyles.ts
  packages/ui/src/components/Profile/index.ts
  packages/ui/src/components/Room/Room.tsx
  packages/ui/src/components/Room/RoomStyles.ts
  packages/ui/src/components/Room/index.ts
  packages/ui/src/components/Section/index.ts
  packages/ui/src/components/Spacing/Spacing.tsx
  packages/ui/src/components/Spacing/index.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/Spacing/Spacing.tsx
  packages/ui/src/components/Spacing/index.ts
Due: ui

feat: 🎸 ini space invite
  packages/ui/src/components/GridSettingsSpaceTab/GridSettingsSpaceTab.tsx
  packages/ui/src/components/InviteScreen/index.ts
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceInvite/index.ts
  packages/web/pages_/[spaceId]/settings/invite.tsx
Due: ui

chore: 🤖 update
  .github/dependabot.yml
Due: none

chore: 🤖 update
  packages/pioneer/src/week/2020/17.md
Due: none

chore: 🤖 update
  packages/pioneer/src/sus/2020/11.md
  packages/pioneer/src/sus/2020/13.md
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  03122a4fd3a1dfee0d1e41e86320e35f59bd2153
Due: none

feat: 🎸 ini grid tab icon
  packages/ui/src/components/GridSettingsSpaceTab/GridSettingsSpaceTab.tsx
  packages/ui/src/components/GridSettingsSpaceTab/GridSettingsSpaceTabStyles.ts
  packages/ui/src/components/GridSettingsTab/GridSettingsTab.tsx
  packages/ui/src/components/GridSettingsTab/GridSettingsTabStyles.ts
  packages/ui/src/components/GridSettingsTab/index.ts
  packages/ui/src/components/GridTabIcon/GridTabIcon.tsx
  packages/ui/src/components/GridTabIcon/index.ts
  packages/ui/src/components/MuiTab/MuiTab.tsx
  packages/ui/src/components/MuiTab/index.ts
Due: ui

feat: 🎸 ini space billing
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceBilling/index.ts
  packages/web/pages_/[spaceId]/settings/billing.tsx
Due: ui

perf: ⚡️ ini profile username for app bar
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui

perf: ⚡️ i18n for common
  locales/ja/common.json
  locales/zh/common.json
Due: none

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  b4453445fb8066c48a3ffcd7fe12d7b756865d8f
Due: none

feat: 🎸 ini model namespace
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Room.ts
  packages/@types/src/models/Space.ts
  packages/ui/src/components/Authentication/Authentication.tsx
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
Due: ui

chore(release): 1.21.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  10c292607ee5c1c9cc53a38538eeb518918728d9
Due: none

perf: ⚡️ ini sentrei upgrade
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

chore: 🤖 update
  yarn.lock
Due: none

chore: 🤖 update
  .eslintrc.json
  packages/video/src/components/Publication/Publication.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/Publication/Publication.tsx
Due: video

chore(release): 1.21.0-beta.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  651babbd136955b73e67f6ef6265a2a085535948
Due: none

feat: 🎸 ini namespaces refactor
  packages/@types/src/models/Namespace.ts
  packages/common/src/firebase/namespaces.ts
  packages/common/src/firebaseAdmin/namespaces.ts
  packages/common/src/serializers/Namespace.ts
Due: none

feat: 🎸 migrate username to namespace
  locales/en/common.json
  locales/en/form.json
  locales/ja/common.json
  locales/ja/form.json
  locales/zh/common.json
  locales/zh/form.json
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Stats.ts
  packages/@types/src/models/Username.ts
  packages/common/src/firebase/profiles.ts
  packages/common/src/firebase/usernames.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/usernames.ts
  packages/common/src/serializers/Username.ts
  packages/pioneer/src/day/2020/07/08.md
  packages/pioneer/src/project/README.md
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/Authentication/Authentication.tsx
  packages/ui/src/components/InviteNamespaceForm/InviteNamespaceForm.tsx
  packages/ui/src/components/InviteNamespaceForm/index.ts
  packages/ui/src/components/InviteUsernameForm/index.ts
  packages/ui/src/components/MemberCard/MemberCard.tsx
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileNamespaceForm/ProfileNamespaceForm.tsx
  packages/ui/src/components/ProfileNamespaceForm/index.ts
  packages/ui/src/components/ProfileUsernameForm/index.ts
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceLeaderboardTable/SpaceLeaderboardTable.tsx
Due: ui

feat: 🎸 refactor namespace for common firebase and admin
  packages/common/src/firebase/profiles.ts
  packages/common/src/firebase/spaces.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/spaces.ts
Due: none
