Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

feat: 🎸 ini room type chip w/ card
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomTypeChip/RoomTypeChip.tsx
  packages/ui/src/components/RoomTypeChip/index.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/RoomTypeChip/RoomTypeChip.tsx
Due: ui

perf: ⚡️ refactor space home board
  packages/ui/src/components/ChartLine/ChartLine.tsx
  packages/ui/src/components/MemberListItem/MemberListItem.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

feat: 🎸 ini member top for space home board
  packages/ui/src/components/BoxGradient/BoxGradient.tsx
  packages/ui/src/components/SpaceHome/SpaceHome.tsx
  packages/ui/src/components/SpaceHomeBoard/SpaceHomeBoard.tsx
Due: ui

perf: ⚡️ refactor pricing discount
  locales/en/pricing.json
  locales/ja/pricing.json
  locales/zh/pricing.json
Due: none

feat: 🎸 refactor app to nameroomId
  packages/web/pages_/[namespaceId]/[nameroomId]/app.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/index.tsx
Due: none

perf: ⚡️ refactor room card
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

feat: 🎸 ini room card visit button
  locales/en/billing.json
  packages/common/src/const/tiers.ts
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardVisitButton/RoomCardVisitButton.tsx
  packages/ui/src/components/RoomCardVisitButton/index.ts
Due: ui

chore: 🤖 update
  locales/ja/billing.json
  locales/zh/billing.json
Due: none

perf: ⚡️ invite signup board delay from 3000 to 5000
  packages/ui/src/components/InviteSignupBoard/InviteSignupBoard.tsx
Due: ui

feat: 🎸 refactor video button
  packages/video/src/components/MenuBar/MenuBar.tsx
Due: video

chore(release): 1.79.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  7b/ee21eae262b8a1b139728056e9df539798a5cc
Due: none

chore(release): 1.80.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  13/b0ba2fc6a40a5cacaaec9cac5adf6913b2a7be
Due: none

perf: ⚡️ refactor participants model
  packages/@types/src/models/Room.ts
Due: none

chore(release): 1.80.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  fe/bda1ba1de0387f384e16b0c3906a8d861a1a98
Due: none

chore: 🤖 update
  packages/@types/src/models/Room.ts
  packages/common/src/serializers/Room.ts
Due: none

chore(release): 1.80.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  5f/196c15189215044a38fe963b1d4871f211d71a
Due: none

perf: ⚡️ refactor room model
  packages/@types/src/models/Room.ts
Due: none

feat: 🎸 refactor app list menu ui/ux
  packages/ui/src/components/AppListMenu/AppListMenu.tsx
Due: ui

chore(release): 1.81.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  2b/70b09ac695a10e0bde8cdac86d241e2de6f571
Due: none

perf: ⚡️ refactor home board
  packages/ui/src/components/SpaceHomeBoard/SpaceHomeBoard.tsx
Due: ui

feat: 🎸 complete refactor room card design
  packages/ui/src/components/FormButtonSubmit/FormButtonSubmit.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCard/RoomCardStyles.ts
  packages/ui/src/components/RoomCardVisitButton/RoomCardVisitButton.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

perf: ⚡️ refactor room card dark mode border
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardVisitButton/RoomCardVisitButton.tsx
Due: ui

chore(release): 1.82.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  8f/3612fea9f71f8314b22c6193b1c036df2ad1fb
Due: none

Update .all-contributorsrc
  .all-contributorsrc
Due: none

Update README.md
  README.md
Due: none

perf: ⚡️ ini room card color border
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

perf: ⚡️ ini square props for room card
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/SpaceRoomList/SpaceRoomList.tsx
Due: ui

perf: ⚡️ add padding for square types
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

perf: ⚡️ refactor analytics model
  packages/@types/src/models/Analytics.ts
Due: none

chore(release): 1.82.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  cb/e1967d493d13bb6e81cc8b92d9a39645cb8b8d
Due: none

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
