Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

perf: ⚡️ refactor room for app header
  packages/web/src/components/SentreiAppHeader.tsx
Due: web

perf: ⚡️ refactor namerooms service
  packages/common/src/firebase/namerooms.ts
  packages/ui/src/components/RoomStepperId/RoomStepperId.tsx
Due: ui

perf: ⚡️ ini namespaceId for model room
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui

feat: 🎸 ini color for room model
  packages/@types/src/models/Room.ts
  packages/common/src/const/color.ts
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomFormPicture/RoomFormPicture.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceFormPhoto/SpaceFormPhoto.tsx
  packages/ui/src/components/SpaceSettingsBoard/SpaceSettingsBoard.tsx
Due: ui

feat: 🎸 ini room form color
  packages/ui/src/components/RoomFormColor/RoomFormColor.tsx
  packages/ui/src/components/RoomFormColor/index.ts
  packages/ui/src/components/RoomFormPicture/index.ts
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
Due: ui

chore(release): 1.74.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  10/76f16f66cd691528a1aaeb5ea299c02d57d119
Due: none

feat: 🎸 refactor room card
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

feat: 🎸 ini room screen
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomScreen/index.ts
  packages/web/pages_/[namespaceId]/[nameroomId]/index.tsx
Due: ui

perf: ⚡️ refactor roomId to nameroomId
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Due: ui

feat: 🎸 ini room color for settings
  locales/en/common.json
  packages/@types/src/models/SettingsTab.ts
  packages/ui/src/components/GridSettingsRoomButton/GridSettingsRoomButton.tsx
  packages/ui/src/components/RoomColor/RoomColor.tsx
  packages/ui/src/components/RoomColor/index.ts
  packages/ui/src/components/RoomColorBoard/RoomColorBoard.tsx
  packages/ui/src/components/RoomColorBoard/index.ts
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/color.tsx
Due: ui

perf: ⚡️ ini icon for room color
  locales/en/room.json
  packages/ui/src/components/RoomColorBoard/RoomColorBoard.tsx
  packages/web/i18n.json
Due: ui

perf: ⚡️ refactor room menu color
  locales/en/room.json
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Due: ui

feat: 🎸 ini room form id
  packages/ui/src/components/RoomFormId/RoomFormId.tsx
  packages/ui/src/components/RoomFormId/index.ts
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
Due: ui

feat: 🎸 ini room quit board disable
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuitBoard/RoomQuitBoard.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/RoomFormId/RoomFormId.tsx
Due: ui

feat: 🎸 ini room form type
  locales/en/common.json
  packages/@types/src/models/Room.ts
  packages/ui/src/components/RoomFormType/RoomFormType.tsx
  packages/ui/src/components/RoomFormType/index.ts
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
Due: ui

perf: ⚡️ ini initial room type for form
  packages/ui/src/components/RoomFormType/RoomFormType.tsx
Due: ui

chore: 🤖 room color in the top
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Due: ui

feat: 🎸 ini room form id
  packages/common/src/firebase/namerooms.ts
  packages/ui/src/components/RoomFormId/RoomFormId.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
Due: ui

perf: ⚡️ ini form validation for room form id
  packages/ui/src/components/RoomFormId/RoomFormId.tsx
Due: ui

perf: ⚡️ ini 18n for room
  locales/ja/common.json
  locales/ja/room.json
  locales/zh/common.json
  locales/zh/room.json
Due: none

perf: ⚡️ refactor room color role
  packages/ui/src/components/RoomColor/RoomColor.tsx
  packages/ui/src/components/RoomColorBoard/RoomColorBoard.tsx
  packages/ui/src/components/RoomFormColor/RoomFormColor.tsx
Due: ui

perf: ⚡️ ini room validation for forms
  packages/ui/src/components/RoomSettingsBoard/RoomSettingsBoard.tsx
Due: ui

feat: 🎸 migrate home screen to error screen
  packages/ui/src/components/ErrorScreen/ErrorScreen.tsx
  packages/ui/src/components/ErrorScreen/index.ts
  packages/ui/src/components/HomeScreen/index.ts
  packages/web/pages_/[namespaceId]/[nameroomId]/app.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/index.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/color.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
Due: ui

feat: 🎸 migrate next error to error screen
  packages/ui/src/components/InviteSignup/InviteSignup.tsx
  packages/ui/src/components/RoomColor/RoomColor.tsx
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/SpaceActivity/SpaceActivity.tsx
  packages/ui/src/components/SpaceAnalytics/SpaceAnalytics.tsx
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceRoom/SpaceRoom.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
Due: ui

perf: ⚡️ refactor session model
  packages/@types/src/models/Session.ts
Due: none

chore(release): 1.75.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  74/a7c4e8799803ee3d5ea4ae6aa258595cf5d265
Due: none

perf: ⚡️ refactor session update
  packages/@types/src/models/Session.ts
Due: none

perf: ⚡️ refactor landing pricing card w/ i18n
  locales/en/pricing.json
  locales/ja/pricing.json
  locales/zh/pricing.json
  packages/ui/src/components/LandingPricing/LandingPricing.tsx
Due: ui

chore(release): 1.75.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

feat: 🎸 refactor room session
  packages/@types/src/models/Room.ts
  packages/@types/src/models/Session.ts
Due: none

Notes added by 'git notes add'
  9e/b848f3dfa74c5b86fca1c320b55f0959eaa96a
Due: none

chore(release): 1.76.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  39/b77cfdfaf92422266c3e4d11e7c3a26196252b
Due: none

feat: 🎸 ini update session activity
  packages/@types/src/models/Activity.ts
Due: none

perf: ⚡️ install apex charts
  packages/ui/package.json
  yarn.lock
Due: none

feat: 🎸 migrate activity to analytics
  packages/@types/src/services/AnalyticsQuery.ts
  packages/common/src/firebase/analytics.ts
  packages/common/src/serializers/Analytics.ts
  packages/ui/src/components/SpaceAnalytics/SpaceAnalytics.tsx
  packages/ui/src/components/SpaceAnalyticsBoard/SpaceAnalyticsBoard.tsx
  packages/ui/src/components/SpaceAnalyticsChart/SpaceAnalyticsChart.tsx
  packages/ui/src/components/SpaceAnalyticsChart/SpaceAnalyticsChartStyles.ts
  packages/ui/src/components/SpaceAnalyticsChart/index.ts
Due: ui

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
