Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

perf: ⚡️ ini preview vercel
  .github/workflows/vercel.yml
Due: none

chore(release): 1.52.1-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ab097fc61528ea9e0586edd84c07769ddae58950
Due: none

chore: 🤖 update
  packages/pioneer/src/frontier/2020/17.md
Due: none

chore: 🤖 update
  .github/workflows/vercel.yml
Due: none

perf: ⚡️ ini deployment environment
  .github/workflows/vercel.yml
Due: none

perf: ⚡️ refactor package upgrade
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore(release): 1.52.1-beta.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  0ab61ace44be294ca29495b5fd334e8eeef6b549
Due: none

chore(release): 1.52.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  4704c77aecb57ba46b9be4b37adaa42207913eb4
Due: none

feat: 🎸 improve next seo index follow
  packages/ui/src/components/SeoDefault/SeoDefault.tsx
  packages/ui/src/components/SeoLanding/SeoLanding.tsx
Due: ui

feat: 🎸 ini auth screen
  packages/ui/src/components/AuthScreen/AuthScreen.tsx
  packages/ui/src/components/AuthScreen/AuthScreenStyles.ts
  packages/ui/src/components/AuthScreen/index.ts
  packages/web/pages_/login.tsx
  packages/web/pages_/reset-password.tsx
  packages/web/pages_/signup.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/AuthScreen/AuthScreen.tsx
  packages/ui/src/components/AuthScreen/AuthScreenStyles.ts
Due: ui

feat: 🎸 refactor auth form
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/AuthFormGoogleButton/AuthFormGoogleButton.tsx
  packages/ui/src/components/AuthFormGoogleButton/AuthFormGoogleButtonStyles.ts
  packages/ui/src/components/AuthFormGoogleButton/index.ts
  packages/ui/src/components/AuthFormLoginGrid/AuthFormSignupGrid.tsx
  packages/ui/src/components/AuthFormLoginGrid/index.ts
  packages/ui/src/components/AuthFormSignupGrid/AuthFormSignupGrid.tsx
  packages/ui/src/components/AuthFormSignupGrid/index.ts
  packages/ui/src/components/InviteSignupBoard/InviteSignupBoard.tsx
Due: ui

chore(release): 1.53.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  498e13b00233d036b63654de4140ceed4ab4a685
Due: none

feat: 🎸 ini mixpanel analytics
  packages/ui/src/components/Authentication/Authentication.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Due: ui

chore(release): 1.54.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

feat: 🎸 ini profile appheader
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
Due: none

chore(release): 1.55.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  63/d0f52cf8bf577c297bd6fdc7ecbe0c4562e139
Due: none

perf: ⚡️ ini sentry node
  packages/web/next.config.js
Due: none

feat: 🎸 ini sentry release
  .github/workflows/release.yml
  package.json
  packages/web/package.json
Due: none

feat: 🎸 upgrade depcheck config
  packages/@types/.depcheckrc.yml
  packages/common/.depcheckrc.yml
  packages/common/package.json
  packages/pioneer/.depcheckrc.yml
  packages/ui/package.json
  packages/web/.depcheckrc.yml
  packages/web/package.json
  yarn.lock
Due: none

chore(release): 1.56.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  12/e9634c44846043e2df5851cb4a7ae142de2daa
Due: none

fix: 🐛 sentry release
  package.json
Due: none

chore(release): 1.56.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  12/eb3fee0c1970a98c881e2c41cc3f41addd8244
Due: none

feat: 🎸 refactor video screen
  packages/video/src/App.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.spec.tsx
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/index.spec.tsx
  packages/video/src/components/VideoProvider/index.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.spec.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoProvider/useRoom/useRoom.tsx
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/constants.ts
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
  packages/video/src/hooks/useMediaStreamTrack/__mocks__/useMediaStreamTrack.ts
  packages/video/src/hooks/useMediaStreamTrack/index.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.test.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.ts
  packages/video/src/hooks/useScreenShareParticipant/useScreenShareParticipant.spec.tsx
  packages/video/src/hooks/useScreenShareParticipant/useScreenShareParticipant.tsx
  packages/video/src/hooks/useTrack/useTrack.tsx
  packages/video/src/hooks/useVideoContext/useVideoContext.ts
  packages/video/src/state/index.spec.tsx
  packages/video/src/state/index.tsx
  packages/video/src/types.ts
  packages/video/src/utils/generateConnectionOptions/index.ts
  packages/video/src/utils/index.test.ts
  packages/video/src/utils/index.ts
  packages/video/src/utils/useConnectionOptions/index.ts
  packages/video/src/utils/useConnectionOptions/useConnectionOptions.test.tsx
  packages/video/src/utils/useConnectionOptions/useConnectionOptions.ts
Due: video

chore: 🤖 update
  packages/video/src/components/MenuBar/Menu/Menu.tsx
  packages/video/src/components/MenuBar/MenuBar.tsx
  packages/video/src/components/MenuBar/UserAvatar/UserAvatar.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/MenuBar/UserAvatar/UserAvatar.tsx
Due: video

feat: 🎸 refactor room screen w/ video app
  packages/video/package.json
  packages/video/src/App.tsx
  packages/video/src/RoomScreen.tsx
  packages/video/src/VideoApp.tsx
Due: video

chore: 🤖 update
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
  yarn.lock
Due: none

chore: 🤖 update
  packages/ui/package.json
Due: none

chore: 🤖 update
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomScreen/index.ts
  packages/ui/src/components/VideoScreen/VideoScreen.tsx
  packages/ui/src/components/VideoScreen/index.ts
Due: ui

chore: 🤖 update
  packages/video/src/hooks/useScreenShareParticipant/useScreenShareParticipant.tsx
  packages/video/src/utils/index.ts
Due: video

chore: 🤖 ini eslintrc json for video
  .eslintrc.json
Due: none

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
