Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

perf: ⚡️ refactor segment manager banner
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
Due: ui

perf: ⚡️ nossr for segment manager
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
Due: ui

perf: ⚡️ ini no ssr for papercups
  packages/ui/src/components/PaperCupsWidget/PaperCupsWidget.tsx
  packages/ui/src/components/PaperCupsWindow/PaperCupsWindow.tsx
Due: ui

perf: ⚡️ ini react hooks for segment manager
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
Due: ui

perf: ⚡️ move segment to header and app header
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/web/pages_/_document.tsx
Due: ui

chore(release): 1.98.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  8b/1d5fc5b2227ffca7f744b7f833de1daa8a7c7b
Due: none

feat: 🎸 ini second pitch
  locales/en/pitch.json
  locales/ja/pitch.json
  locales/zh/pitch.json
  packages/ui/src/components/PitchScreen/PitchScreen.tsx
Due: ui

perf: ⚡️ ini pioneer section
  locales/en/footer.json
  locales/ja/footer.json
  locales/zh/footer.json
  packages/ui/src/components/FooterSection/FooterSection.tsx
Due: ui

feat: 🎸 migrate footer to landing footer
  packages/ui/src/components/Footer/Footer.stories.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/index.ts
  packages/ui/src/components/FooterCopyright/FooterCopyright.spec.tsx
  packages/ui/src/components/FooterCopyright/FooterCopyright.stories.tsx
  packages/ui/src/components/FooterCopyright/index.ts
  packages/ui/src/components/FooterCredits/index.ts
  packages/ui/src/components/FooterSection/index.ts
  packages/ui/src/components/LandingFooter/LandingFooter.tsx
  packages/ui/src/components/LandingFooter/LandingFooterStyles.ts
  packages/ui/src/components/LandingFooter/index.ts
  packages/ui/src/components/LandingFooterCopyright/LandingFooterCopyright.spec.tsx
  packages/ui/src/components/LandingFooterCopyright/LandingFooterCopyright.stories.tsx
  packages/ui/src/components/LandingFooterCopyright/LandingFooterCopyright.tsx
  packages/ui/src/components/LandingFooterCopyright/index.ts
  packages/ui/src/components/LandingFooterCredits/LandingFooterCredits.tsx
  packages/ui/src/components/LandingFooterCredits/index.ts
  packages/ui/src/components/LandingFooterSection/LandingFooterSection.tsx
  packages/ui/src/components/LandingFooterSection/index.ts
Due: ui

feat: 🎸 ini landing footer image
  packages/ui/src/components/LandingFooter/LandingFooter.tsx
  packages/ui/src/components/LandingFooterSection/LandingFooterSection.tsx
  packages/web/pages_/about.tsx
  packages/web/pages_/analytics.tsx
  packages/web/pages_/credits.tsx
  packages/web/pages_/demo.tsx
  packages/web/pages_/index.tsx
  packages/web/pages_/media.tsx
  packages/web/pages_/pitch.tsx
  packages/web/pages_/pricing.tsx
  packages/web/pages_/privacy.tsx
  packages/web/pages_/terms.tsx
  packages/web/src/components/SentreiFooter.tsx
Due: ui, web

feat: 🎸 ini footer sentrei
  locales/en/footer.json
  locales/ja/footer.json
  locales/zh/footer.json
  packages/ui/src/components/LandingFooterSection/LandingFooterSection.tsx
Due: ui

perf: ⚡️ ini chromatic action
  .github/workflows/ui.yml
Due: none

chore: 🤖 update
  .github/workflows/ui.yml
  packages/ui/src/components/LandingFooterCopyright/LandingFooterCopyright.stories.tsx
Due: ui

feat: 🎸 upgrade storybook version
  packages/ui/.storybook/addons.ts
  packages/ui/.storybook/config.ts
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.stories.tsx
  packages/ui/tsconfig.stories.json
  yarn.lock
Due: ui

perf: ⚡️ ini tsconfig storybook
  packages/ui/.storybook/webpack.config.js
  packages/ui/tsconfig.stories.json
Due: none

chore: 🤖 update
  packages/ui/package.json
Due: none

feat: 🎸 ini storybook v6
  packages/ui/.storybook/config.ts
  packages/ui/.storybook/main.js
  packages/ui/.storybook/webpack.config.js
  packages/ui/src/components/DarkModeButton/DarkModeButton.stories.tsx
  packages/ui/src/components/SkeletonCard/SkeletonCard.stories.tsx
Due: ui

perf: ⚡️ ini stories board
  packages/ui/src/components/SkeletonBoard/SkeletonBoard.stories.tsx
  packages/ui/src/components/SkeletonForm/SkeletonForm.stories.tsx
Due: ui

feat: 🎸 ini addons for storybook ui
  packages/ui/.storybook/main.js
  packages/ui/package.json
  yarn.lock
Due: none

chore: 🤖 update
  .github/workflows/ui.yml
Due: none

chore: 🤖 update
  packages/ui/package.json
  yarn.lock
Due: none

chore: 🤖 update
  packages/ui/src/components/SkeletonCard/SkeletonCard.tsx
Due: ui

chore(release): 1.99.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  62/3d4297e8e0d474b9f6f61ac470930ad3a75eee
Due: none

perf: ⚡️ ini chromatic storybook version
  .github/workflows/ui.yml
Due: none

perf: ⚡️ ini chromatic gha
  .github/workflows/chromatic.yml
Due: none

chore: 🤖 update
  .github/workflows/chromatic.yml
Due: none

chore(release): 1.99.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  f7/72e24339e0b4a1dcde964986338d55700904c1
Due: none

feat: 🎸 complete refactor skeleton stories
  packages/ui/src/components/SkeletonBoard/SkeletonBoard.stories.tsx
  packages/ui/src/components/SkeletonCard/SkeletonCard.stories.tsx
  packages/ui/src/components/SkeletonCard/SkeletonCard.tsx
Due: ui

chore(release): 1.100.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  aa/8d0ead061a02efb6cc216bf6cd5e65c1ffa589
Due: none

feat: 🎸 complete refactor gha
  .github/workflows/chromatic.yml
  .github/workflows/deploy.yml
  .github/workflows/functions.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/vercel.yml
  .github/workflows/video.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  package.json
Due: none

chore: 🤖 update
  package.json
Due: none

chore(release): 1.101.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  d0/350096e5328278b6d06dab86ed9160655cc4d8
Due: none
