Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 update
  .eslintrc.json
Due: none

chore: 🤖 update
  packages/video/jest.config.js
Due: none

perf: ⚡️ remove room and video screen
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomScreen/index.ts
  packages/ui/src/components/VideoScreen/VideoScreen.tsx
  packages/ui/src/components/VideoScreen/index.ts
Due: ui

chore: 🤖 update
  packages/ui/package.json
  packages/video/package.json
Due: none

perf: ⚡️ update to custom video package
  packages/video/src/components/LoginPage/LoginPage.test.tsx
  packages/video/src/components/LoginPage/LoginPage.tsx
  packages/video/src/components/LoginPage/google-logo.svg
  packages/video/src/components/LoginPage/twilio-logo.svg
  packages/video/src/components/LoginPage/video-logo.png
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.test.tsx
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.tsx
  packages/video/src/components/MenuBar/DeviceSelector/deviceHooks/deviceHooks.test.tsx
  packages/video/src/components/MenuBar/MenuBar.test.tsx
  packages/video/src/components/MenuBar/MenuBar.tsx
  packages/video/src/components/MenuBar/UserAvatar/UserAvatar.tsx
  packages/video/src/components/PrivateRoute/PrivateRoute.test.tsx
  packages/video/src/components/PrivateRoute/PrivateRoute.tsx
  packages/video/src/index.tsx
  packages/video/src/state/index.test.tsx
  packages/video/src/state/index.tsx
  packages/video/src/state/useFirebaseAuth/useFirebaseAuth.test.ts
  packages/video/src/state/useFirebaseAuth/useFirebaseAuth.ts
  packages/video/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
  packages/video/src/state/usePasscodeAuth/usePasscodeAuth.ts
  packages/video/tsconfig.build.json
Due: video

feat: 🎸 imp room video screen
  packages/video/src/App.tsx
  packages/video/src/RoomScreen.tsx
  packages/video/src/VideoScreen.tsx
Due: video

chore: 🤖 update
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
Due: none

chore: 🤖 update
  packages/video/package.json
  yarn.lock
Due: none

feat: 🎸 refactor use participants
  packages/video/src/hooks/useParticipants/useParticipants.tsx
  yarn.lock
Due: video

chore: 🤖 update
  packages/pioneer/src/sus/2020/15.md
Due: none

chore: 🤖 update
  .github/labels.yml
Due: none

perf: ⚡️ ini trace rate
  packages/common/src/utils/sentry.ts
Due: none

chore(release): 1.56.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  af/68abc4d27215e97846dee26230e84d9a749851
Due: none

feat: 🎸 refactor ui video packages deps
  packages/ui/package.json
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/RoomScreen/index.ts
  packages/ui/src/components/VideoScreen/VideoScreen.tsx
  packages/ui/src/components/VideoScreen/index.ts
  packages/video/package.json
  packages/web/package.json
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
  yarn.lock
Due: ui

feat: 🎸 upgrade package json
  packages/@types/package.json
  packages/common/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

perf: ⚡️ chore for root package json
  package.json
  yarn.lock
Due: none

perf: ⚡️ tweak package json
  packages/video/package.json
  yarn.lock
Due: none

chore: 🤖 update
  .eslintrc.json
  packages/@types/src/models/Stats.ts
  packages/ui/src/components/SpaceBillingTable/SpaceBillingTable.tsx
Due: ui

perf: ⚡️ ini jest update
  packages/video/jest.config.js
Due: none

chore(release): 1.57.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  82/50e75bae2b0de2f557aa5954c8baccf6dd8fec
Due: none

chore: 🤖 update
  packages/video/tsconfig.build.json
Due: none

feat: 🎸 refactor sentrei video package upgrade
  packages/video/src/components/LoginPage/LoginPage.test.tsx
  packages/video/src/components/LoginPage/LoginPage.tsx
  packages/video/src/components/LoginPage/google-logo.svg
  packages/video/src/components/LoginPage/twilio-logo.svg
  packages/video/src/components/LoginPage/video-logo.png
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.test.tsx
  packages/video/src/components/MenuBar/AboutDialog/AboutDialog.tsx
  packages/video/src/components/MenuBar/DeviceSelector/deviceHooks/deviceHooks.test.tsx
  packages/video/src/components/MenuBar/MenuBar.test.tsx
  packages/video/src/components/MenuBar/MenuBar.tsx
  packages/video/src/components/MenuBar/UserAvatar/UserAvatar.tsx
  packages/video/src/components/PrivateRoute/PrivateRoute.test.tsx
  packages/video/src/components/PrivateRoute/PrivateRoute.tsx
  packages/video/src/index.tsx
  packages/video/src/state/index.test.tsx
  packages/video/src/state/index.tsx
  packages/video/src/state/useFirebaseAuth/useFirebaseAuth.test.ts
  packages/video/src/state/useFirebaseAuth/useFirebaseAuth.ts
  packages/video/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
  packages/video/src/state/usePasscodeAuth/usePasscodeAuth.ts
Due: video

chore: 🤖 update
  packages/video/src/App.tsx
  packages/video/src/index.tsx
  packages/video/src/state/index.tsx
Due: video

chore: 🤖 update
  packages/video/src/state/index.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/MenuBar/DeviceSelector/index.ts
  packages/video/src/components/NetworkQualityLevel/index.ts
  packages/video/src/utils/generateConnectionOptions/index.ts
Due: video

chore: 🤖 update
  packages/video/src/hooks/useMediaStreamTrack/index.ts
Due: video

chore: 🤖 update
  packages/video/src/utils/useConnectionOptions/index.ts
Due: video

perf: ⚡️ upgrade device selector
  packages/video/src/components/MenuBar/DeviceSelector/DeviceSelector.tsx
  packages/video/src/components/MenuBar/DeviceSelector/index.ts
  packages/video/src/components/MenuBar/SettingsDialog/SettingsDialog.tsx
Due: video
