Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

feat: 🎸 completely remove firebase analytics
  packages/common/src/services/upload.ts
  packages/common/src/utils/analytics.ts
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/support.tsx
  packages/web/pages_/about.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/credits.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/index.tsx
  packages/web/pages_/login.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/pitch.tsx
  packages/web/pages_/pricing.tsx
  packages/web/pages_/privacy.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/reset-password.tsx
  packages/web/pages_/settings.tsx
  packages/web/pages_/signup.tsx
  packages/web/pages_/support.tsx
  packages/web/pages_/terms.tsx
Due: none

perf: ⚡️ refactor seo default
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/SeoDefault/SeoDefault.tsx
Due: ui

feat: 🎸 ini space screen record group
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Due: ui

feat: 🎸 complete refactor type to app bar
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/web/pages_/[namespaceId]/support.tsx
Due: ui

chore(release): 1.37.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  f37011f3c6920afd6830ce49c2537c31c20fc3f1
Due: none

feat: 🎸 ini app seo
  locales/en/seo.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/SeoApp/SeoApp.tsx
  packages/ui/src/components/SeoApp/index.ts
  packages/ui/src/components/SeoDefault/SeoDefault.tsx
  packages/web/i18n.json
Due: ui

perf: ⚡️ ini i18n seo
  locales/ja/seo.json
  locales/zh/seo.json
Due: none

feat: 🎸 ini seo landing
  locales/en/seo.json
  packages/@types/src/models/Landing.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/SeoLanding/SeoLanding.tsx
  packages/ui/src/components/SeoLanding/index.ts
  packages/web/pages_/about.tsx
  packages/web/pages_/credits.tsx
  packages/web/pages_/index.tsx
  packages/web/pages_/login.tsx
  packages/web/pages_/pitch.tsx
  packages/web/pages_/pricing.tsx
  packages/web/pages_/privacy.tsx
  packages/web/pages_/reset-password.tsx
  packages/web/pages_/signup.tsx
  packages/web/pages_/support.tsx
  packages/web/pages_/terms.tsx
  packages/web/src/components/SentreiHeader.tsx
Due: ui, web

perf: ⚡️ ini seo landing
  locales/ja/seo.json
  locales/zh/seo.json
Due: none

chore: 🤖 update
  packages/ui/src/components/SeoLanding/SeoLanding.tsx
Due: ui

perf: ⚡️ ini invite seo
  locales/en/seo.json
  locales/ja/seo.json
  locales/zh/seo.json
  packages/@types/src/models/Landing.ts
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
Due: none

chore: 🤖 update
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
Due: none

chore: 🤖 update
  packages/web/pages_/[namespaceId]/support.tsx
Due: none

chore(release): 1.38.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  a0bd96f94dfd16d852fd53647f8e6f7ca7c1538d
Due: none

feat: 🎸 ini vercel monorepo
  .vercelignore
  packages/typedoc/package.json
  packages/web/package.json
  packages/web/vercel.json
  public
  vercel.json
Due: none

perf: ⚡️ ini vercel json
  packages/web/vercel.json
  vercel.json
Due: none

chore: 🤖 update
  .vercelignore
Due: none

chore: 🤖 update
  packages/web/package.json
Due: none

chore(release): 1.39.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  67f2bbabe822cb107787d37b13adfcfe3323ed5b
Due: none

feat: 🎸 ini complete seo
  locales/en/seo.json
  locales/ja/seo.json
  locales/zh/seo.json
  packages/ui/src/components/SeoLanding/SeoLanding.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
  packages/web/pages_/[namespaceId]/support.tsx
Due: ui

chore(release): 1.40.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  a118ebda3de248e45cd3b3dabdbd075832dc53a6
Due: none

perf: ⚡️ ini subscription id
  packages/@types/src/models/Space.ts
Due: none

perf: ⚡️ refactor space stripe
  packages/@types/src/models/Space.ts
  packages/@types/src/models/Stripe.ts
Due: none

chore(release): 1.40.1-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  56dde4eb027899475b4f9be8db38e4e0200e8385
Due: none

feat: 🎸 ini stripe checkout
  packages/common/package.json
  packages/common/src/services/accessCheckoutLink.ts
  packages/common/src/services/accessPortalLink.ts
  packages/common/src/utils/getStripe.ts
  packages/ui/package.json
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceBillingBoard/SpaceBillingBoard.tsx
  packages/ui/src/components/SpaceBillingButton/index.ts
  packages/ui/src/components/SpaceBillingPortalButton/SpaceBillingPortalButton.tsx
  packages/ui/src/components/SpaceBillingPortalButton/index.ts
  packages/web/next.config.js
  yarn.lock
Due: ui

chore: 🤖 update
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

feat: 🎸 refactor space billing
  packages/ui/src/components/RoomScreen/RoomScreen.tsx
  packages/ui/src/components/SpaceBillingBoard/SpaceBillingBoard.tsx
  packages/ui/src/components/SpaceBillingCheckout/SpaceBillingCheckout.tsx
  packages/ui/src/components/SpaceBillingCheckout/index.ts
  packages/ui/src/components/SpaceBillingPortal/SpaceBillingPortal.tsx
  packages/ui/src/components/SpaceBillingPortal/index.ts
  packages/ui/src/components/SpaceBillingPortalButton/SpaceBillingPortalButton.tsx
  packages/ui/src/components/SpaceBillingPortalButton/index.ts
Due: ui

feat: 🎸 refactor space model add subscriptionStatus
  packages/@types/src/models/Space.ts
Due: none

chore: 🤖 update
  packages/@types/src/models/Space.ts
Due: none

chore(release): 1.41.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  679635db3528d445ee5061a042d96178ac97fc64
Due: none

feat: 🎸 refactor metomic update
  packages/ui/src/components/Metomic/Metomic.tsx
Due: ui

chore: 🤖 update
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

feat: 🎸 refactor space billing board
  locales/en/common.json
  locales/ja/common.json
  locales/zh/common.json
  packages/ui/src/components/SpaceBillingBoard/SpaceBillingBoard.tsx
  packages/ui/src/components/SpaceBillingCheckout/SpaceBillingCheckout.tsx
  packages/ui/src/components/SpaceBillingPortal/SpaceBillingPortal.tsx
Due: ui

feat: 🎸 complete refactor pricing
  locales/en/index.json
  locales/en/pricing.json
  locales/ja/index.json
  locales/ja/pricing.json
  locales/zh/index.json
  locales/zh/pricing.json
  packages/ui/src/components/LandingPricing/LandingPricing.tsx
  packages/ui/src/components/PricingScreen/PricingScreen.tsx
  packages/web/i18n.json
Due: ui

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
