Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 ini icon for landing explore
  packages/ui/src/components/LandingExplore/LandingExplore.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/LandingExplore/LandingExplore.tsx
Due: ui

perf: ⚡️ refactor landing menu event
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
Due: ui

perf: ⚡️ ini landing mobile menu
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
Due: ui

perf: ⚡️ ini app bar track
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui

chore: 🤖 revert one tap to default styles
  packages/common/src/services/oneTap.ts
  packages/ui/src/components/OneTap/OneTap.tsx
  packages/ui/src/components/OneTap/OneTapStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/OneTap/OneTap.tsx
Due: ui

perf: ⚡️ refactor landing explore
  packages/ui/src/components/LandingExplore/LandingExplore.tsx
Due: ui

chore: 🤖 update
  locales/ja/index.json
Due: none

chore: 🤖 update
  locales/ja/index.json
  locales/zh/index.json
Due: none

perf: ⚡️ ini landing timeline dot
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDot.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDotStyles.ts
Due: ui

perf: ⚡️ ini timeline item
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDot.tsx
Due: ui

perf: ⚡️ ini timeline gradient
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDot.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDotStyles.ts
Due: ui

perf: ⚡️ ini landing timeline text
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDot.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDotStyles.ts
Due: ui

perf: ⚡️ ini complete landing timeline
  locales/en/index.json
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDot.tsx
  packages/ui/src/components/LandingTimelineDot/LandingTimelineDotStyles.ts
Due: ui

perf: ⚡️ refactor landing screen and explore
  packages/ui/src/components/LandingExplore/LandingExplore.tsx
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
Due: ui

feat: 🎸 migrate timeline dot to point
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingTimelineDot/index.ts
  packages/ui/src/components/LandingTimelinePoint/LandingTimelinePoint.tsx
  packages/ui/src/components/LandingTimelinePoint/LandingTimelinePointStyles.ts
  packages/ui/src/components/LandingTimelinePoint/index.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/LandingTimelinePoint/LandingTimelinePointStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
Due: ui

feat: 🎸 complete refactor header i18n & pricing
  locales/en/header.json
  locales/ja/header.json
  locales/ja/index.json
  locales/zh/header.json
  locales/zh/index.json
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
Due: ui

chore(release): 1.116.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  5c/d738bad63912db7067fc9293180f0800b13480
Due: none

perf: ⚡️ ini mobile header
  locales/en/header.json
  locales/ja/header.json
  locales/zh/header.json
  packages/ui/src/components/LandingHeaderMobileDialog/LandingHeaderMobileDialog.tsx
Due: ui

chore(release): 1.116.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  cd/005dc73e65d4eb5ee87c4b6f10b1008e7f403c
Due: none

feat: 🎸 ini japanese i18n
  locales/en/index.json
  locales/ja/analytics.json
  locales/ja/common.json
  locales/ja/footer.json
  locales/ja/header.json
  locales/ja/index.json
  locales/ja/seo.json
  locales/ja/space.json
  locales/zh/analytics.json
  locales/zh/common.json
  locales/zh/footer.json
  locales/zh/header.json
  locales/zh/index.json
  locales/zh/seo.json
  locales/zh/space.json
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
Due: ui

feat: 🎸 ini landing header support section
  locales/en/header.json
  locales/ja/header.json
  locales/zh/header.json
  packages/ui/src/components/LandingHeaderMenuProduct/LandingHeaderMenuProduct.tsx
Due: ui

perf: ⚡️ vercel action to master (tmp)
  .github/workflows/vercel.yml
  .github/workflows/web.yml
Due: none

chore(release): 1.117.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ba/fc800daf54d46ebbf2e7917a2a3c26c99bc0d1
Due: none

feat: 🎸 upgrade next v9.5.4
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore(release): 1.118.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  44/862e16b3c719c08450470937e4175cf0ba5cf4
Due: none

feat: 🎸 upgrade root packages w/ ncu
  package.json
  yarn.lock
Due: none

feat: 🎸 ini debugger for next.js
  .vscode/launch.json
  packages/web/package.json
Due: none

fix: 🐛 correct SPDX license
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

feat: 🎸 complete upgrade all packages w/ ncu
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/ui/src/components/AppFormFeedback/AppFormFeedback.tsx
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/FormDelete/FormDelete.tsx
  packages/ui/src/components/FormQuit/FormQuit.tsx
  packages/ui/src/components/InviteFormEmail/InviteFormEmail.tsx
  packages/ui/src/components/InviteFormUsername/InviteFormUsername.tsx
  packages/ui/src/components/InviteSignupBoard/InviteSignupBoard.tsx
  packages/ui/src/components/ProfileFormName/ProfileFormName.tsx
  packages/ui/src/components/ProfileFormUsername/ProfileFormUsername.tsx
  packages/ui/src/components/RoomFormId/RoomFormId.tsx
  packages/ui/src/components/RoomFormName/RoomFormName.tsx
  packages/ui/src/components/RoomStepperId/RoomStepperId.tsx
  packages/ui/src/components/RoomStepperName/RoomStepperName.tsx
  packages/ui/src/components/SettingsFormPassword/SettingsFormPassword.tsx
  packages/ui/src/components/SpaceFormId/SpaceFormId.tsx
  packages/ui/src/components/SpaceFormName/SpaceFormName.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpaceStepperId/SpaceStepperId.tsx
  packages/ui/src/components/SpaceStepperName/SpaceStepperName.tsx
  packages/video/package.json
  packages/video/src/components/ParticipantInfo/PinIcon/PinIcon.tsx
  packages/video/src/components/VideoProvider/useRoom/useRoom.tsx
  packages/video/src/utils/index.ts
  packages/web/package.json
  yarn.lock
Due: ui, video

perf: ⚡️ upgrade sentrei packages
  packages/common/package.json
  packages/functions/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

chore: 🤖 update
  packages/web/package.json
Due: none

test: 💍 refactor index test remove api
  packages/video/src/state/index.test.tsx
Due: video
