Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  1d4ef42b8239549292b3a497dd7e775e79f5ff68
Due: none

feat: 🎸 ini app feedback
  locales/en/common.json
  packages/@types/src/models/Feedback.ts
  packages/common/src/firebase/feedback.ts
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppFeedback/AppFeedback.tsx
  packages/ui/src/components/AppFeedback/AppFeedbackStyles.ts
  packages/ui/src/components/AppFeedback/index.ts
  packages/ui/src/components/AppFeedbackForm/AppFeedbackForm.tsx
  packages/ui/src/components/AppFeedbackForm/AppFeedbackFormStyles.ts
  packages/ui/src/components/AppFeedbackForm/index.ts
Due: ui

chore: 🤖 update
  packages/common/src/firebase/feedback.ts
Due: none

chore: 🤖 update
  packages/ui/src/components/AppFeedbackForm/AppFeedbackForm.tsx
Due: ui

feat: 🎸 ini feedback form
  packages/@types/src/models/Feedback.ts
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppFeedback/AppFeedback.tsx
  packages/ui/src/components/AppFeedbackForm/AppFeedbackForm.tsx
  packages/ui/src/components/AppFeedbackForm/AppFeedbackFormStyles.ts
Due: ui

feat: 🎸 ini feedback to stats model
  packages/@types/src/models/Stats.ts
Due: none

perf: ⚡️ ini namespace model
  packages/@types/src/models/Namespace.ts
Due: none

chore: 🤖 update
  packages/@types/src/models/Activity.ts
Due: none

chore: 🤖 update
  packages/common/src/serializers/Activity.ts
Due: none

chore(release): 1.15.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  234793ce07b0fcc236266f0c1f6a4c20803e48ef
Due: none

perf: ⚡️ refactor app feedback form
  packages/ui/src/components/AppFeedbackForm/AppFeedbackForm.tsx
  packages/ui/src/components/AppFeedbackForm/AppFeedbackFormStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 update
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore(release): 1.15.0-beta.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  c44df27d2f4bcba5a2d57f39614e8d3497d12f63
Due: none

fix: 🐛 activity model optional spaceId field
  packages/@types/src/models/Activity.ts
Due: none

chore(release): 1.15.0-beta.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  985948b9b11e5089a8a0acd6f21a855eaa174ac4
Due: none

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  a7457e8efdde67fb6fb059214f7ca741be96b420
Due: none

feat: 🎸 ini app other menu
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
  packages/ui/src/components/AppOtherMenu/AppOtherMenu.tsx
  packages/ui/src/components/AppOtherMenu/index.ts
Due: ui

feat: 🎸 ini header mobile dialog
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/HeaderMobileDialog/HeaderMobileDialog.tsx
  packages/ui/src/components/HeaderMobileDialog/index.ts
Due: ui

feat: 🎸 ini app mobile header
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppBar/AppBarStyles.ts
  packages/ui/src/components/AppMobileDialog/AppMobileDialog.tsx
  packages/ui/src/components/AppMobileDialog/index.ts
Due: ui

perf: ⚡️ ini login and signup to header mobile dialog
  packages/ui/src/components/HeaderMobileDialog/HeaderMobileDialog.tsx
Due: ui

perf: ⚡️ ini ui gha
  .github/workflows/ui.yml
Due: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  7ba26353e801aa25b6c2ab1cdb6c9fcaffb8530a
Due: none

perf: ⚡️ refactor mobile dialog
  packages/ui/src/components/HeaderMobileDialog/HeaderMobileDialog.tsx
Due: ui

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  1f50c9badaaa8f31c6a59ef0ba43039737a99763
Due: none

chore: 🤖 refactor styles and eslint
  packages/ui/src/components/SpaceAnalyticsNone/SpaceAnalyticsNoneStyles.ts
Due: ui

feat: 🎸 refactor settings pages
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/settings/edit.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/[spaceId]/support.tsx
Due: none

perf: ⚡️ refactor button createRoom
  locales/en/common.json
  packages/ui/src/components/SpacePanelAction/SpacePanelAction.tsx
Due: ui

feat: 🎸 refactor settings tab
  packages/ui/src/components/SpacePanelAction/SpacePanelAction.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/rooms/create.tsx
  packages/web/pages_/[spaceId]/rooms/index.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/settings.tsx
Due: ui

feat: 🎸 ini app tab icon
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/AppTabIcon/AppTabIconStyles.ts
  packages/ui/src/components/AppTabIcon/index.ts
Due: ui

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  73270103ddd49f68d7abc27f17d4cf012ab8ea34
Due: none

feat: 🎸 ini app tab complete refactor
  packages/@types/src/models/AppTab.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppSpaceTab/AppSpaceTab.tsx
  packages/ui/src/components/AppSpaceTab/AppSpaceTabStyles.ts
  packages/ui/src/components/AppSpaceTab/index.ts
  packages/ui/src/components/AppTab/AppTab.tsx
  packages/ui/src/components/AppTab/index.ts
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/AppTabIcon/AppTabIconStyles.ts
  packages/ui/src/components/AppTabIcon/index.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/rooms/create.tsx
  packages/web/pages_/[spaceId]/rooms/index.tsx
  packages/web/pages_/[spaceId]/settings/index.tsx
  packages/web/pages_/[spaceId]/settings/invite.tsx
  packages/web/pages_/[spaceId]/settings/quit.tsx
  packages/web/pages_/[spaceId]/support.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
