Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

Notes added by 'git notes add'
  02/1f586b32e5afd50a84db0725ccc75d06b84e66
Due: none

chore: 🤖 day update
  packages/pioneer/src/day/2020/10/10.md
Due: none

feat: 🎸 ini package-json:check
  .npmpackagejsonlintrc.json
  package.json
  yarn.lock
Due: none

chore: 🤖 update
  package.json
Due: none

perf: ⚡️ ncu self upgrade
  package.json
  yarn.lock
Due: none

perf: ⚡️ ncu upgrade all
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore(release): 1.127.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  28/3589f89041dfa93b3c3a811ab606e3f1166d98
Due: none

feat: 🎸 ini header frost glass css
  packages/ui/src/components/LandingHeader/LandingHeaderStyles.ts
Due: ui

feat: 🎸 ini react spring
  packages/ui/package.json
Due: none

chore: 🤖 update
  packages/ui/src/components/LandingFooter/LandingFooter.tsx
Due: ui

perf: ⚡️ refactor landing sections to each feature
  packages/ui/src/components/LandingBond/LandingBond.tsx
  packages/ui/src/components/LandingBond/index.ts
  packages/ui/src/components/LandingFocus/LandingFocus.tsx
  packages/ui/src/components/LandingFocus/index.ts
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingSectionBond/index.ts
  packages/ui/src/components/LandingSectionFocus/index.ts
  packages/ui/src/components/LandingSectionWork/index.ts
  packages/ui/src/components/LandingWork/LandingWork.tsx
  packages/ui/src/components/LandingWork/index.ts
Due: ui

chore(release): 1.128.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  66/47d43896afb590da86e2b72f4fe97dac2298fe
Due: none

feat: 🎸 ini cypress build
  packages/web/.nycrc.json
  packages/web/cypress.json
  packages/web/cypress/@types/next-env.d.ts
  packages/web/cypress/integration/index.spec.ts
  packages/web/cypress/integration/spec.ts
  packages/web/cypress/plugins/cy-ts-preprocessor.js
  packages/web/cypress/plugins/index.js
  packages/web/cypress/plugins/index.ts
  packages/web/cypress/support/index.js
  packages/web/cypress/support/index.ts
  packages/web/cypress/tsconfig.json
  packages/web/package.json
  packages/web/tsconfig.json
  yarn.lock
Due: none

chore: 🤖 updatet
  packages/web/babel.config.js
Due: none

chore: 🤖 update
  packages/web/package.json
Due: none

perf: ⚡️ ini cypress gitignore
  .gitignore
Due: none

perf: ⚡️ ini cypress gha
  .github/workflows/web.yml
  .gitignore
  packages/web/.nycrc.json
Due: none

chore: 🤖 update
  .github/workflows/web.yml
Due: none

perf: ⚡️ ini cypress test
  .github/workflows/web.yml
  packages/web/cypress.json
  packages/web/package.json
Due: none

chore(release): 1.129.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  e2/9941c9be1ebf71a5db8ebbb1a0e3f7bd352025
Due: none

chore(release): 1.130.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  a5/f239c95cdf17935bfde800b570a0dd35f6a6a6
Due: none

perf: ⚡️ ini yarn install
  yarn.lock
Due: none

perf: ⚡️ ini language button w/ vanilla next.js
  packages/ui/src/components/LanguageButton/LanguageButton.tsx
Due: ui

feat: 🎸 ini 404 page
  locales/en/_error.json
  locales/en/header.json
  locales/ja/_error.json
  locales/ja/header.json
  locales/zh/_error.json
  locales/zh/header.json
  packages/ui/src/components/ErrorScreen/ErrorScreen.tsx
  packages/ui/src/components/LandingHeaderMobileDialog/LandingHeaderMobileDialog.tsx
  packages/web/next.config.js
  packages/web/pages_/404.tsx
Due: ui

feat: 🎸 upgrade @material-ui packages
  packages/@types/package.json
  packages/common/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

feat: 🎸 remove styled-components to integrate @material-ui
  packages/ui/package.json
  packages/ui/src/components/EmojiMart/EmojiMartStyled.tsx
  packages/web/babel.config.js
  packages/web/package.json
  packages/web/pages_/_app.tsx
  packages/web/pages_/_document.tsx
  yarn.lock
Due: ui

perf: ⚡️ refactor button default color
  packages/ui/src/components/LandingHeaderButton/LandingHeaderButtonStyles.ts
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenuStyles.ts
Due: ui

perf: ⚡️ refactor mui link components
  packages/ui/src/components/MuiButton/MuiButton.tsx
  packages/ui/src/components/MuiButtonBase/MuiButtonBase.tsx
  packages/ui/src/components/MuiListItem/MuiListItem.tsx
  packages/ui/src/components/MuiMenuItem/MuiMenuItem.tsx
  packages/ui/src/components/MuiTab/MuiTab.tsx
Due: ui

feat: 🎸 update next link to href
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppListMenu/AppListMenu.tsx
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
  packages/ui/src/components/AppTabRoom/AppTabRoom.tsx
  packages/ui/src/components/AppTabSpace/AppTabSpace.tsx
  packages/ui/src/components/BillingDialog/BillingDialog.tsx
  packages/ui/src/components/GridSettingsButton/GridSettingsButton.tsx
  packages/ui/src/components/GridSettingsRoomButton/GridSettingsRoomButton.tsx
  packages/ui/src/components/GridSettingsSpaceButton/GridSettingsSpaceButton.tsx
  packages/ui/src/components/LandingHeaderLogo/LandingHeaderLogo.tsx
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/MuiLink/MuiLink.tsx
  packages/ui/src/components/RoomCardVisitButton/RoomCardVisitButton.tsx
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
  packages/ui/src/components/RoomNone/RoomNone.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpacePanelActionCreateButton/SpacePanelActionCreateButton.tsx
  packages/ui/src/components/SpacePanelActionInviteButton/SpacePanelActionInviteButton.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
  packages/ui/src/components/SpacePanelBannerSection/SpacePanelBannerSection.tsx
Due: ui

chore: 🤖 update
  packages/video/src/components/UnsupportedBrowserWarning/__snapshots__/UnsupportedBrowserWarning.test.tsx.snap
Due: video

perf: ⚡️ upgrade all packages
  package.json
  packages/functions/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 pioneer day update
  packages/pioneer/src/day/2020/10/11.md
  packages/pioneer/src/day/2020/10/12.md
Due: none

chore: 🤖 update pioneer & sus week
  packages/pioneer/src/sus/2020/18.md
  packages/pioneer/src/sus/2020/19.md
  packages/pioneer/src/week/2020/22.md
Due: none

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
