Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

chore(release): 1.58.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  01/eca672ae82f1ae045ddc9acf6db68ec40d97eb
Due: none

feat: 🎸 ini app video
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
Due: none

feat: 🎸 complete refactor path
  packages/video/src/components/Controls/ToggleVideoButton/ToggleVideoButton.tsx
  packages/video/src/components/NewtorkQualityLevel/index.ts
  packages/video/src/components/ParticipantInfo/ParticipantInfo.tsx
Due: video

feat: 🎸 complete rename network quality level
  packages/video/src/components/NetworkQualityLevel/NetworkQualityLevel.test.tsx
  packages/video/src/components/NetworkQualityLevel/NetworkQualityLevel.tsx
  packages/video/src/components/NetworkQualityLevel/__snapshots__/NetworkQualityLevel.test.tsx.snap
  packages/video/src/components/NetworkQualityLevel/index.ts
  packages/video/src/components/ParticipantInfo/ParticipantInfo.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/ParticipantInfo/ParticipantInfo.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/Controls/ToggleVideoButton/ToggleVideoButton.tsx
Due: video

chore(release): 1.59.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  68/33bc6402a5e6c573f1b00e0f1cbab3912e8252
Due: none

feat: 🎸 ini video app
  packages/video/src/VideoApp.tsx
  packages/video/src/types.ts
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
Due: video

perf: ⚡️ remove sentrei app header from app
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
Due: none

chore: 🤖 update
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
Due: none

perf: ⚡️ refactor pages naming
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/support.tsx
Due: none

perf: ⚡️ ini app state provider to app root page
  packages/video/src/VideoApp.tsx
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
Due: video

perf: ⚡️ refactor page names
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
Due: none

chore(release): 1.60.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  97/fddda8216b12d20f478099e8dcd982f9964d2f
Due: none

feat: 🎸 ini roomId app
  packages/video/src/components/MenuBar/MenuBar.tsx
  packages/video/src/state/index.test.tsx
  packages/video/src/state/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
Due: video

perf: ⚡️ ini app link
  packages/ui/src/components/RoomCard/RoomCard.tsx
Due: ui

chore(release): 1.61.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  72/3668b93e513c5a58683c9f4ec5aeecff4507fd
Due: none

Update ErrorBoundary.tsx
  packages/ui/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: ui

Update _error.tsx
  packages/web/pages_/_error.tsx
Due: none

feat: 🎸 ini video theme
  packages/video/src/VideoApp.tsx
  packages/video/src/theme.ts
Due: video

perf: ⚡️ refactor video theme
  packages/video/src/components/Controls/Controls.tsx
  packages/video/src/components/ParticipantInfo/ParticipantInfo.tsx
  packages/video/src/theme.ts
Due: video

feat: 🎸 ini roomId app header
  packages/web/pages_/[namespaceId]/[roomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[roomId]/settings/quit.tsx
Due: none

feat: 🎸 ini room service
  packages/web/pages_/[namespaceId]/[roomId]/app.tsx
  packages/web/pages_/[namespaceId]/[roomId]/index.tsx
Due: none

feat: 🎸 refactor support app bar dashboard link
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/web/pages_/[namespaceId]/support.tsx
Due: ui

perf: ⚡️ ini support profile namespaceId
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui

chore(release): 1.62.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ea/48d389c5f75e2c36b28a82c59b64e53d4b90bc
Due: none

feat: 🎸 refactor const color
  packages/@types/src/containers/SentreiTheme.ts
  packages/common/src/const/color.ts
  packages/common/src/const/index.ts
  packages/common/src/containers/DarkTheme/DarkTheme.tsx
  packages/common/src/containers/LightTheme/LightTheme.tsx
  packages/ui/src/components/FormPhoto/FormPhotoStyles.ts
  packages/ui/src/components/ImageUpload/ImageUpload.tsx
  packages/ui/src/components/ImageUpload/ImageUploadStyles.ts
  packages/ui/src/components/ImageUpload/index.ts
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
  packages/video/src/theme.ts
Due: ui, video

perf: ⚡️ ini const emoji
  packages/common/src/const/emoji.ts
Due: none

perf: ⚡️ remove src index
  packages/@types/src/index.ts
  packages/common/src/index.ts
Due: none

chore: 🤖 refactor const emoji import
  packages/common/src/const/emoji.ts
  packages/ui/src/components/InviteFormUsername/InviteFormUsername.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
Due: ui

perf: ⚡️ ini emoji function
  packages/common/src/const/emoji.ts
  packages/ui/src/components/InviteFormUsername/InviteFormUsername.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
Due: ui

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
