Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

perf: ⚡️ refactor record user to include period
  packages/functions/src/helpers/metrics/calculateRecord.ts
  packages/functions/src/metrics/onUpdate/recordMemberSet.ts
  packages/functions/src/metrics/onUpdate/recordUserSet.ts
Due: none

chore: 🤖 update
  packages/functions/src/metrics/onUpdate/__tests__/recordMemberSet.spec.ts
  packages/functions/src/metrics/onUpdate/__tests__/recordUserSet.spec.ts
Due: none

chore(release): 1.94.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  d0/51cd6b49cd36c5c0e6debebf3d37831007a509
Due: none

feat: 🎸 complete refactor set latest analytics
  packages/functions/src/analytics/onUpdate/latestMemberSet.ts
  packages/functions/src/analytics/onUpdate/latestRoomSet.ts
  packages/functions/src/analytics/onUpdate/latestRootSet.ts
  packages/functions/src/analytics/onUpdate/latestSpaceSet.ts
  packages/functions/src/analytics/onUpdate/latestUserSet.ts
  packages/functions/src/helpers/analytics/setLatestAnalytics.ts
Due: none

feat: 🎸 ini complete metrics on topic
  packages/functions/src/metrics/index.ts
  packages/functions/src/metrics/onTopic/dayMemberReset.ts
  packages/functions/src/metrics/onTopic/dayRoomReset.ts
  packages/functions/src/metrics/onTopic/dayRootReset.ts
  packages/functions/src/metrics/onTopic/daySpaceReset.ts
  packages/functions/src/metrics/onTopic/dayUserReset.ts
  packages/functions/src/metrics/onTopic/hourMemberReset.ts
  packages/functions/src/metrics/onTopic/hourRoomReset.ts
  packages/functions/src/metrics/onTopic/hourRootReset.ts
  packages/functions/src/metrics/onTopic/hourSpaceReset.ts
  packages/functions/src/metrics/onTopic/hourUserReset.ts
  packages/functions/src/metrics/onTopic/index.ts
  packages/functions/src/metrics/onTopic/weekMemberReset.ts
  packages/functions/src/metrics/onTopic/weekRoomReset.ts
  packages/functions/src/metrics/onTopic/weekRootReset.ts
  packages/functions/src/metrics/onTopic/weekSpaceReset.ts
  packages/functions/src/metrics/onTopic/weekUserReset.ts
Due: none

feat: 🎸 ini latest functions
  packages/functions/src/helpers/metrics/calculateLatest.ts
  packages/functions/src/metrics/onUpdate/index.ts
  packages/functions/src/metrics/onUpdate/latestMemberSet.ts
  packages/functions/src/metrics/onUpdate/latestRootSet.ts
  packages/functions/src/metrics/onUpdate/latestSpaceSet.ts
  packages/functions/src/metrics/onUpdate/latestUserSet.ts
Due: none

chore(release): 1.95.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  16/de1eefbd56ca86a5df066653a71d1c9e2675b0
Due: none

feat: 🎸 ini media page
  locales/en/seo.json
  locales/ja/seo.json
  locales/zh/seo.json
  packages/@types/src/models/Landing.ts
  packages/web/pages_/media.tsx
Due: none

perf: ⚡️ ini media screen
  packages/ui/src/components/MediaScreen/MediaScreen.tsx
  packages/ui/src/components/MediaScreen/index.ts
Due: ui

feat: 🎸 migrate header to landing header
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/HeaderButton/index.ts
  packages/ui/src/components/HeaderLogo/index.ts
  packages/ui/src/components/HeaderMobileDialog/index.ts
  packages/ui/src/components/HeaderScrollButton/index.ts
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeader/LandingHeaderStyles.ts
  packages/ui/src/components/LandingHeader/index.ts
  packages/ui/src/components/LandingHeaderButton/LandingHeaderButton.tsx
  packages/ui/src/components/LandingHeaderButton/LandingHeaderButtonStyles.ts
  packages/ui/src/components/LandingHeaderButton/index.ts
  packages/ui/src/components/LandingHeaderLogo/LandingHeaderLogo.tsx
  packages/ui/src/components/LandingHeaderLogo/LandingHeaderLogoStyles.ts
  packages/ui/src/components/LandingHeaderLogo/index.ts
  packages/ui/src/components/LandingHeaderMobileDialog/LandingHeaderMobileDialog.tsx
  packages/ui/src/components/LandingHeaderMobileDialog/index.ts
  packages/ui/src/components/LandingHeaderScrollButton/LandingHeaderScrollButton.tsx
  packages/ui/src/components/LandingHeaderScrollButton/LandingHeaderScrollButtonStyles.ts
  packages/ui/src/components/LandingHeaderScrollButton/index.ts
  packages/web/src/components/SentreiHeader.tsx
Due: ui, web

perf: ⚡️ ini media i18n and footer
  locales/en/footer.json
  packages/ui/src/components/FooterSection/FooterSection.tsx
  packages/web/i18n.json
Due: ui

chore: 🤖 update
  locales/ja/footer.json
  locales/zh/footer.json
Due: none

chore: 🤖 update
  .codecov.yml
Due: none

perf: ⚡️ ini media model
  packages/@types/src/models/Media.ts
  packages/ui/src/components/MediaGridList/MediaGridList.tsx
  packages/ui/src/components/MediaGridList/MediaGridListStyles.ts
  packages/ui/src/components/MediaGridList/index.ts
Due: ui

feat: 🎸 ini media grid list
  packages/@types/src/models/Media.ts
  packages/ui/src/components/MediaGridList/MediaGridList.tsx
  packages/ui/src/components/MediaScreen/MediaScreen.tsx
  packages/web/pages_/media.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/MediaScreen/MediaScreen.tsx
Due: ui

feat: 🎸 refactor media grid list styles
  packages/ui/src/components/MediaGridList/MediaGridList.tsx
  packages/ui/src/components/MediaGridList/MediaGridListStyles.ts
  packages/web/pages_/media.tsx
Due: ui

chore: 🤖 update gha cicd
  .github/workflows/figma.yml
  .github/workflows/sentry.yml
  .github/workflows/sync.yml
Due: none

chore: 🤖 update mergify config
  .mergify/config.yml
Due: none

chore: 🤖 update
  .mergify/config.yml
Due: none

chore(release): 1.96.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  fe/d77a3a9cdb15fa86a1587fc513a3df7f942d82
Due: none

chore: 🤖 update create pr
  .github/workflows/auto-pull-request.yml
  .github/workflows/figma.yml
Due: none

feat: 🎸 ini ncu cmd
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: [sentrei-auto-pr]
  design/figma/const/data.json
  design/figma/const/png/Colours Blue.png
  design/figma/const/png/Colours Primary.png
  design/figma/const/png/Colours White.png
  design/figma/const/png/GradientBgs Ocean.png
  design/figma/const/png/GradientBgs Passion.png
  design/figma/const/png/GradientBgs Tropical.png
  design/figma/const/png/Text Heading.png
  design/figma/mobile/data.json
  design/figma/mobile/png/Onboarding Button.png
  design/figma/mobile/png/Progress Dot.png
  design/figma/web/data.json
  design/figma/web/png/Colours Black.png
  design/figma/web/png/Corporation.png
Due: none

chore: 🤖 remove figma files
  design/figma/const/data.json
  design/figma/const/png/Colours Black.png
  design/figma/const/png/Colours Blue.png
  design/figma/const/png/Colours Primary.png
  design/figma/const/png/Colours White.png
  design/figma/const/png/GradientBgs Ocean.png
  design/figma/const/png/GradientBgs Passion.png
  design/figma/const/png/GradientBgs Tropical.png
  design/figma/const/png/Text Heading.png
  design/figma/mobile/data.json
  design/figma/mobile/png/Onboarding Button.png
  design/figma/mobile/png/Progress Dot.png
  design/figma/web/data.json
  design/figma/web/png/Corporation.png
Due: none

chore: 🤖 update
  .github/workflows/figma.yml
Due: none

chore(release): 1.97.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  fa/2b7fa0a7c119d4297b6a7a8f142793c0a0083f
Due: none

chore: 🤖 ini web gha
  .github/workflows/web.yml
Due: none

perf: ⚡️ ini week pioneer & sus
  packages/pioneer/src/sus/2020/17.md
  packages/pioneer/src/week/2020/20.md
Due: none

chore(release): 1.97.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  69/64f737579e5b56d68887c55243a5ce9b42a849
Due: none

feat: 🎸 complete refactor analytics
  packages/common/src/dec.d.ts
  packages/common/src/services/metomic.ts
  packages/ui/package.json
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/FooterSection/FooterSection.tsx
  packages/ui/src/components/Metomic/Metomic.tsx
  packages/ui/src/components/Metomic/index.ts
  packages/ui/src/dec.d.ts
  packages/web/next.config.js
  packages/web/pages_/index.tsx
Due: ui

perf: ⚡️ update segment component
  packages/ui/src/components/Segment/Segment.tsx
Due: ui

feat: 🎸 ini segment manager
  packages/ui/package.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/FooterSection/FooterSection.tsx
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
  packages/ui/src/components/SegmentManager/index.ts
  packages/ui/src/dec.d.ts
  packages/web/pages_/_document.tsx
  yarn.lock
Due: ui

feat: 🎸 ini segment head
  packages/ui/package.json
  packages/ui/src/components/Segment/index.ts
  packages/ui/src/components/SegmentHead/SegmentHead.tsx
  packages/ui/src/components/SegmentHead/index.ts
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
  packages/web/pages_/_document.tsx
  yarn.lock
Due: ui

chore: 🤖 update
  packages/ui/src/components/SegmentManager/SegmentManager.tsx
Due: ui
