Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 ini common types complete refactor
  packages/@types/src/models/Participant.ts
  packages/@types/src/services/ActivityQuery.ts
  packages/@types/src/services/InviteQuery.ts
  packages/@types/src/services/MemberQuery.ts
  packages/@types/src/services/NotificationQuery.ts
  packages/@types/src/services/RoomQuery.ts
  packages/@types/src/services/SpaceQuery.ts
  packages/common/src/firebase/activity.ts
  packages/common/src/firebase/analytics.ts
  packages/common/src/firebase/invites.ts
  packages/common/src/firebase/leaderboard.ts
  packages/common/src/firebase/members.ts
  packages/common/src/firebase/namespaces.ts
  packages/common/src/firebase/notifications.ts
  packages/common/src/firebase/profiles.ts
  packages/common/src/firebase/rooms.ts
  packages/common/src/firebase/spaces.ts
  packages/common/src/firebaseAdmin/leaderboard.ts
  packages/common/src/firebaseAdmin/members.ts
  packages/common/src/firebaseAdmin/namespaces.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/rooms.ts
  packages/common/src/firebaseAdmin/spaces.ts
Due: none

feat: 🎸 complete refactor stepper to submit
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
  packages/ui/src/components/RoomStepperOther/index.ts
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/ui/src/components/RoomStepperSubmit/index.ts
  packages/ui/src/components/SpaceStepperCreate/SpaceStepperCreate.tsx
  packages/ui/src/components/SpaceStepperOther/index.ts
  packages/ui/src/components/SpaceStepperSubmit/SpaceStepperSubmit.tsx
  packages/ui/src/components/SpaceStepperSubmit/index.ts
Due: ui

feat: 🎸 completely refactored namespaces
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Space.ts
  packages/common/src/firebase/leaderboard.ts
  packages/common/src/firebase/rooms.ts
  packages/common/src/firebase/spaces.ts
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/Authentication/Authentication.tsx
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteNamespaceForm/index.ts
  packages/ui/src/components/InviteUserForm/InviteUserForm.tsx
  packages/ui/src/components/InviteUserForm/index.ts
  packages/ui/src/components/MemberCard/MemberCard.tsx
  packages/ui/src/components/MemberCard/MemberCardStyles.ts
  packages/ui/src/components/MemberCard/index.ts
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
  packages/ui/src/components/ProfileNameForm/ProfileNameForm.tsx
  packages/ui/src/components/ProfileNamespaceForm/ProfileNamespaceForm.tsx
  packages/ui/src/components/SpaceActivity/SpaceActivity.tsx
  packages/ui/src/components/SpaceActivityList/SpaceActivityList.tsx
  packages/ui/src/components/SpaceActivityLoadMore/SpaceActivityLoadMore.tsx
  packages/ui/src/components/SpaceAnalytics/SpaceAnalytics.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceInvite/SpaceInvite.tsx
  packages/ui/src/components/SpaceLeaderboardTable/SpaceLeaderboardTable.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceQuitForm/SpaceQuitForm.tsx
  packages/ui/src/components/SpaceStepperSubmit/SpaceStepperSubmit.tsx
Due: ui

perf: ⚡️ refactor firebase admin function names
  packages/common/src/firebaseAdmin/leaderboard.ts
  packages/common/src/firebaseAdmin/members.ts
  packages/common/src/firebaseAdmin/namespaces.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/rooms.ts
  packages/common/src/firebaseAdmin/spaces.ts
Due: none

feat: 🎸 complete refactor space namespace logic
  packages/ui/src/components/InviteSignup/InviteSignup.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
  packages/ui/src/components/SpaceQuit/SpaceQuit.tsx
  packages/ui/src/components/SpaceRoom/SpaceRoom.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/web/pages_/[namespaceId]/activity.tsx
  packages/web/pages_/[namespaceId]/analytics.tsx
  packages/web/pages_/[namespaceId]/index.tsx
  packages/web/pages_/[namespaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[namespaceId]/leaderboard.tsx
  packages/web/pages_/[namespaceId]/members.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/index.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[namespaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[namespaceId]/rooms/create.tsx
  packages/web/pages_/[namespaceId]/rooms/index.tsx
  packages/web/pages_/[namespaceId]/settings/billing.tsx
  packages/web/pages_/[namespaceId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/settings/invite.tsx
  packages/web/pages_/[namespaceId]/settings/quit.tsx
Due: ui

perf: ⚡️ ini app header update for namespaceId
  packages/web/src/components/SentreiAppHeader.tsx
Due: web

chore(release): 1.21.0-beta.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  f50e17ec6608a21ec2a8022583e82c66477d15b0
Due: none

fix: 🐛 remove username model
  packages/@types/src/models/Username.ts
Due: none

chore(release): 1.21.0-beta.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  f74d464f04b47d60d068fbe417bf38c0ceaf259f
Due: none

feat: 🎸 refactor namespace submit
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceStepperSubmit/SpaceStepperSubmit.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/AppListMenu/AppListMenu.tsx
Due: ui

feat: 🎸 refactor remainding space id to namespace id
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomNone/RoomNone.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceHomeBoard/SpaceHomeBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceRoomList/SpaceRoomList.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/AppTabIcon/AppTabIcon.tsx
Due: ui

chore: 🤖 update
  packages/common/src/firebase/profiles.ts
Due: none

chore: 🤖 update
  packages/ui/src/components/AppFeedbackForm/AppFeedbackForm.tsx
Due: ui

chore(release): 1.21.0-beta.5 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  c290bc23769df678969bf0f1415de4cec7131ba3
Due: none

perf: ⚡️ refactor frontier week
  packages/pioneer/src/frontier/2020/16.md
Due: none

feat: 🎸 refactor field namespaceId
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Space.ts
Due: none

feat: 🎸 ini stripe price product subscription models
  packages/@types/src/models/Stripe.ts
Due: none

chore: 🤖 update
  packages/ui/src/components/SpaceStepperSubmit/SpaceStepperSubmit.tsx
Due: ui

chore(release): 1.21.0-beta.6 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  783e441c1dd6ef321f2b480378122610130f778f
Due: none

perf: ⚡️ ini sus update
  packages/pioneer/src/sus/2020/12.md
  packages/pioneer/src/sus/2020/14.md
Due: none

perf: ⚡️ ini admin update for profile model
  packages/@types/src/models/Profile.ts
Due: none

perf: ⚡️ upgrade friends credits
  locales/en/credits.json
  locales/ja/credits.json
  locales/zh/credits.json
  packages/ui/src/components/CreditsSectionShun/CreditsSectionShun.tsx
Due: ui

chore(release): 1.20.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  9e0d110a50d6efb79ab3d450db3e7ac88709e00c
Due: none

feat: 🎸 ini access customer portal link
  packages/common/src/services/accessCustomerPortal.ts
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
Due: ui

feat: 🎸 ini space billing customer portal
  packages/common/package.json
  packages/common/src/services/accessCustomerPortal.ts
  packages/ui/package.json
  packages/ui/src/components/SpaceBilling/SpaceBilling.tsx
  yarn.lock
Due: ui

chore(release): 1.21.0-beta.7 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  fc5e7a7c09f61b822f7bca635bf5a4c3ef24c5b0
Due: none

chore(release): 1.21.0-beta.8 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  0492f38d81b390575ecd4f53d4f9b1801060318d
Due: none

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  649dcedeffc6ea7d0916a8860de2ab9810483361
Due: none

feat: 🎸 complete refactor grid settings button
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/ui/src/components/GridSettingsButton/GridSettingsButton.tsx
  packages/ui/src/components/GridSettingsButton/GridSettingsButtonStyles.ts
  packages/ui/src/components/GridSettingsButton/index.ts
  packages/ui/src/components/GridSettingsSpaceButton/GridSettingsSpaceButton.tsx
  packages/ui/src/components/GridSettingsSpaceButton/GridSettingsSpaceButtonStyles.ts
  packages/ui/src/components/GridSettingsSpaceButton/index.ts
  packages/ui/src/components/GridSettingsSpaceTab/index.ts
  packages/ui/src/components/GridTabIcon/GridTabIcon.tsx
  packages/ui/src/components/GridTabIcon/index.ts
Due: ui

fix: 🐛 app header profile picture flickering
  packages/ui/src/components/AppBar/AppBar.tsx
Due: ui
