Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

perf: ⚡️ refactor metrics duration
  packages/@types/src/models/Metrics.ts
Due: none

chore(release): 1.71.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  e6/91872101780d5bbe0ce1ceef3e5c207609596b
Due: none

perf: ⚡️ ini analytics room
  packages/@types/src/models/Analytics.ts
Due: none

perf: ⚡️ refactor stats model
  packages/@types/src/models/Stats.ts
Due: none

chore: 🤖 update
  packages/@types/src/models/Stats.ts
Due: none

chore(release): 1.71.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  d4/4a03ac2ac38d3077288548b5bb918987af38d7
Due: none

feat: 🎸 refactor metrics model
  packages/@types/src/models/Metrics.ts
Due: none

feat: 🎸 complete refactor stats
  packages/@types/src/models/Stats.ts
Due: none

chore(release): 1.72.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  03/bf165ffc662fc850a944344cc893ab4b48bd44
Due: none

feat: 🎸 refactor room types
  packages/@types/src/models/Room.ts
Due: none

perf: ⚡️ refactor participant model
  packages/@types/src/models/Participant.ts
Due: none

perf: ⚡️ refacotr metrics model
  packages/@types/src/models/Metrics.ts
Due: none

chore(release): 1.73.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  ff/32e6c9de823c8ba6b56d6c925d131bac984d8c
Due: none

perf: ⚡️ ini participant emoji
  packages/common/src/const/emoji.ts
  packages/common/src/const/scoreMetrics.ts
  packages/ui/src/components/InviteFormUsername/InviteFormUsername.tsx
Due: ui

chore: 🤖 ini room model
  packages/@types/src/models/Room.ts
Due: none

perf: ⚡️ ini nameroom model
  packages/@types/src/models/Nameroom.ts
  packages/@types/src/models/Stats.ts
Due: none

chore: 🤖 update
  packages/@types/src/models/Room.ts
Due: none

perf: ⚡️ refactor session model
  packages/@types/src/models/Session.ts
Due: none

perf: ⚡️ complete refactor room stepper submit
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
Due: ui

chore(release): 1.73.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  fc/557f02f202b4598c5e6b1e20723a4a1c35e2f1
Due: none

perf: ⚡️ ini participant sid
  packages/@types/src/models/Participant.ts
Due: none

chore(release): 1.73.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  2a/124049ac18e2b0a39e875dee0a6b471809ca74
Due: none

feat: 🎸 ini room stepper id
  packages/@types/src/atom/RoomCreateForm.ts
  packages/common/src/firebase/namerooms.ts
  packages/common/src/serializers/Nameroom.ts
  packages/ui/src/components/RoomCreateBoard/RoomCreateBoard.tsx
  packages/ui/src/components/RoomStepperId/RoomStepperId.tsx
  packages/ui/src/components/RoomStepperId/index.ts
  packages/ui/src/components/RoomStepperSubmit/RoomStepperSubmit.tsx
  packages/ui/src/components/RoomStepperType/RoomStepperType.tsx
  packages/ui/src/components/RoomStepperType/index.ts
Due: ui

feat: 🎸 completely refactor stepper button
  packages/ui/src/components/StepperButton/StepperButton.tsx
Due: ui

feat: 🎸 complete refactor room stepper create
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomCreateBoard/RoomCreateBoard.tsx
  packages/ui/src/components/RoomStepperId/RoomStepperId.tsx
  packages/ui/src/components/StepperButton/StepperButton.tsx
Due: ui

feat: 🎸 ini room stepper id
  packages/common/src/firebase/namerooms.ts
  packages/ui/src/components/RoomStepperId/RoomStepperId.tsx
Due: ui

feat: 🎸 migrate roomId to nameroomId
  packages/ui/src/components/AppBar/AppBar.tsx
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppTabRoom/AppTabRoom.tsx
  packages/ui/src/components/GridSettings/GridSettings.tsx
  packages/ui/src/components/GridSettingsRoomButton/GridSettingsRoomButton.tsx
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/web/i18n.json
  packages/web/pages_/[namespaceId]/[nameroomId]/app.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/index.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/delete.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/index.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/settings/quit.tsx
Due: ui

perf: ⚡️ refactor namerooms services
  packages/common/src/firebase/namerooms.ts
Due: none

perf: ⚡️ refactor app header component
  packages/web/src/components/SentreiAppHeader.tsx
Due: web

feat: 🎸 update roomId for app index pages
  packages/web/pages_/[namespaceId]/[nameroomId]/app.tsx
  packages/web/pages_/[namespaceId]/[nameroomId]/index.tsx
Due: none

perf: ⚡️ ini week pioneer
  packages/pioneer/src/week/2020/18.md
Due: none

chore: 🤖 update
  packages/pioneer/src/sus/2020/15.md
Due: none
