Repository shunkakinoki/ex-sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: ui, video, web

chore(release): 1.107.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  c5/bb3828b2951c992511669f494e64ef838908cd
Due: none

chore: 🤖 timeout
  packages/web/cloudbuild.yaml
Due: none

chore: 🤖 update readme functions
  README.md
Due: none

perf: ⚡️ run
  packages/web/cloudbuild.yaml
Due: none

chore: 🤖 update
  packages/web/cloudbuild.yaml
Due: none

chore: 🤖 rename
  infrastructure/gcp/run/web.tf
Due: none

perf: ⚡️ ini cloudbuild tag
  packages/web/cloudbuild.yaml
Due: none

chore: 🤖 firebase
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/main.firebase.json
Due: none

chore(release): 1.107.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/@types/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Notes added by 'git notes add'
  73/62e2d0f1a27c62310e475ab2efc817c1f02153
Due: none

chore: 🤖 dns
  infrastructure/gcp/dns/dartdoc.tf
  infrastructure/gcp/dns/docs.tf
  infrastructure/gcp/dns/run.tf
  infrastructure/gcp/dns/ui.tf
  infrastructure/gcp/dns/web-docs.tf
Due: none

chore: 🤖 run
  infrastructure/gcp/run/web.tf
Due: none

chore: 🤖 update
  infrastructure/gcp/dns/run.tf
Due: none

chore: 🤖 iam
  infrastructure/gcp/iam/cloudbuild.tf
  infrastructure/gcp/iam/functions.tf
Due: none

chore: 🤖 update
  infrastructure/gcp/iam/cloudbuild.tf
Due: none

chore: 🤖 labels
  .github/labels.yml
Due: none

chore: 🤖 remove firebase ui
  .github/workflows/deploy.yml
  packages/ui/firebase.json
  packages/ui/package.json
Due: none

perf: ⚡️ refactor sentry environment
  packages/web/next.config.js
Due: none

feat: 🎸 ini scroll header react hook
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
Due: ui

chore: 🤖 update
  packages/web/next.config.js
Due: none

feat: 🎸 complete refactor landing scroll components
  packages/@types/src/models/Landing.ts
  packages/ui/package.json
  packages/ui/src/components/AboutScreen/AboutScreen.tsx
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeaderScrollButton/LandingHeaderScrollButton.tsx
  packages/ui/src/components/LandingHeaderScrollButton/LandingHeaderScrollButtonStyles.ts
  packages/ui/src/components/LandingHeaderScrollButton/index.ts
  packages/ui/src/components/LandingScreen/LandingScreen.tsx
  packages/ui/src/components/LandingSpacing/LandingSpacing.tsx
  packages/ui/src/components/LandingSpacing/index.ts
  yarn.lock
Due: ui

feat: 🎸 completely refactor header button & type
  packages/ui/src/components/LandingHeaderButton/LandingHeaderButtonStyles.ts
  packages/web/pages_/about.tsx
  packages/web/pages_/index.tsx
  packages/web/src/components/SentreiHeader.tsx
Due: ui, web

perf: ⚡️ ini landing header menu
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenuStyles.ts
  packages/ui/src/components/LandingHeaderMenu/index.ts
Due: ui

chore: 🤖 update
  packages/web/pages_/analytics.tsx
Due: none

perf: ⚡️ ini landing menu popover
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopover.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopoverStyles.ts
  packages/ui/src/components/LandingHeaderMenuPopover/index.ts
Due: ui

feat: 🎸 refactor landing header menu popover
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopover.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopoverStyles.ts
Due: ui

feat: 🎸 ini landing header menu
  locales/en/header.json
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeader/LandingHeaderStyles.ts
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopover.tsx
Due: ui

perf: ⚡️ ini proper landing header mouuse
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
Due: ui

feat: 🎸 ini proper landing header menu popover
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopover.tsx
  packages/ui/src/components/LandingHeaderMenuPopover/LandingHeaderMenuPopoverStyles.ts
Due: ui

feat: 🎸 ini landing header menu component
  locales/en/header.json
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
Due: ui

feat: 🎸 ini landing header menu product
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeaderMenuProduct/LandingHeaderMenuProduct.tsx
  packages/ui/src/components/LandingHeaderMenuProduct/LandingHeaderMenuProductStyles.ts
  packages/ui/src/components/LandingHeaderMenuProduct/index.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/LandingHeaderMenuProduct/LandingHeaderMenuProduct.tsx
Due: ui

feat: 🎸 ini landing header menu company & resources
  locales/en/header.json
  packages/ui/src/components/LandingHeader/LandingHeader.tsx
  packages/ui/src/components/LandingHeaderMenuCompany/LandingHeaderMenuCompany.tsx
  packages/ui/src/components/LandingHeaderMenuCompany/LandingHeaderMenuCompanyStyles.ts
  packages/ui/src/components/LandingHeaderMenuCompany/index.ts
  packages/ui/src/components/LandingHeaderMenuResources/LandingHeaderMenuResources.tsx
  packages/ui/src/components/LandingHeaderMenuResources/LandingHeaderMenuResourcesStyles.ts
  packages/ui/src/components/LandingHeaderMenuResources/index.ts
Due: ui

perf: ⚡️ reini header button hover primary
  packages/ui/src/components/LandingHeaderButton/LandingHeaderButtonStyles.ts
Due: ui

perf: ⚡️ ini hover primary for header menu button
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenuStyles.ts
Due: ui

perf: ⚡️ ini landing header menu primary
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenu.tsx
  packages/ui/src/components/LandingHeaderMenu/LandingHeaderMenuStyles.ts
Due: ui

perf: ⚡️ refactor footer section
  locales/en/footer.json
  packages/ui/src/components/LandingFooterSection/LandingFooterSection.tsx
Due: ui

perf: ⚡️ refactor calculate record
  packages/functions/src/helpers/metrics/calculateRecord.ts
Due: none

Path conditions:
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
